.model_form_heading{
    font-family: "DINWeb-Cond";
    font-size: 32px;
    font-weight: lighter;
    line-height: 1.4;
 }
 .ks_heading {
    font-family: "DINWeb-Cond";
    font-size: 51px;
    font-weight: lighter;
    line-height: 51px;
    text-shadow: -2px 2px 0px rgba(0, 0, 0, 0.2), -2px -2px 0px transparent, 1px 1px 0px rgba(0, 0, 0, 0.2);
 }

.model_form_sub_heaing,{
    font-family: "DINWeb-Cond";
    font-size: 16px;
    font-weight: lighter;
    line-height: 1.4;
}

.ks_subheading {
    font-family: "DINWeb-Cond";
    font-size: 20px;
    font-weight: lighter;
    line-height: 1.4;
    text-shadow: none;
}

.c-white {
color:white;
}

.c-red{
color:#EB5E5E;;
}

.c-gray {
    color:#666;
}

.cb-red {
    background-color:#EB5E5E;
}

.cb-blue {
    background-color:#4CACE7;
}

.cb-yellow{
    background-color:#E7A600;
}

.cb-green {
    background-color:#2EF888;
}

.b-border {
border-bottom:4px solid #E7A600;
}
