/* for whole menu header page having, about us, zero, DNA, Idea and let's krunk*/
.chkbg
{
	
	margin-top:50px;
	padding:20px;
	
}
/* for "about us" text*/
.span2.spanbg
{
	background-color:grey;
	color:#fff;
	-webkit-transform:rotate(-90deg);
	margin-top:46px;
	margin-left:50px;
	width:150px;
	
}
/* for all the list items*/
.menu-bucket
{
	background-color:grey;
	padding-top:20px;
	padding-left:40px;

}
/* for spacing between list items*/
.row-fluid .span1
{
	width:33px;
}
/* for size of all list items*/
li.span2.menu-bar
{
	width:140px;
	height:120px;
	padding-top:10px;
	color:#000;
	margin-left:0px;
}
/* for first list item -Zero*/
.menu-bar.first
{
	background-color:red;
}
/* for first(Zero) list item-text*/
.menu-bar.first h1
{
	margin-bottom:0px;
	margin-top:20px;
	font-family:georgia ;
	font-size:41px;
}

.menu-bar.first h6
{
	margin-top:0px;
	font-family:georgia;
	font-size:12px;
}
/* for second list item - DNA*/
.menu-bar.second
{
	background-color:#6F86CC;
}
/* for second(DNA) list item-text*/
.menu-bar.second h6
{
	margin-bottom:0px;
	margin-top:20px;
	font-family:georgia ;
	font-size:12px;
}

.menu-bar.second h1
{
	margin-top:0px;
	font-family:georgia;
	font-size:41px;
}
/* for third(IDEA) list item*/
.menu-bar.third
{
	background-color:#CA9D44;
}
/* for third(Idea) list item-text*/
.menu-bar.third h1
{
	margin-bottom:0px;
	margin-top:20px;
	font-family:georgia ;
	font-size:41px;
}

.menu-bar.third h6
{
	margin-top:0px;
	font-family:georgia;
	font-size:12px;
}
/* for fourth(Krunk) list item*/
.menu-bar.fourth
{
	background-color:green;
}
/* for fourth(Krunk) list item-text*/
.menu-bar.fourth h6
{
	margin-bottom:0px;
	margin-top:20px;
	font-family:georgia ;
	font-size:14px;
}

.menu-bar.fourth h1
{
	margin-top:0px;
	font-family:georgia;
	font-size:40.5px;
}

/* for all the circles,rectangles and text that are created in the page*/
.circlebg
{
	
	width:250px;
	height:250px;
	text-align:center;
}

.rectbg
{
	width:830px;
	height:420px;
	margin-top:20px;
	border:none;
	
}

.rectbg p
{
	text-align : justify;
	font-size: 28px;
	font-family : georgia;
	line-height:50px;
	padding-left:120px;
	padding-right:30px;
}

/* for the description about KS in the page*/
.circlebg.homepg
{
	border:9px solid #00d3e0;
	background-color:#DFB73B;
	margin:115px 0 0 -1000px;
}

.rectbg.homepg
{
	background-color:#00d3e0;
	margin-left:180px;
	padding:20px 20px 0px 20px;
}
/* for the description about ZERO in the page*/
.rectbg.zeropg
{
	background-color:#6F86CC;
	padding:20px 20px 0px 0px;
	margin-left:60px;
	
}

.circlebg.zeropg
{
	background-color:red;
	margin:115px 0 0 -100px;
	border:9px solid #6F86CC;
	
}

.rectbg p.zerotxt
{
	text-align : justify;
	font-size: 28px;
	font-family : georgia;
	line-height:50px;
	padding-right:90px;
	padding-left:40px;
}

/* for the description about DNA in the page*/
.circlebg.dnapg
{
	border:9px solid #CA9D44;
	background-color:#6F86CC;
	margin-top:-440px ;
	margin-left: 40px;
}

.rectbg.dnapg
{
	background-color:#CA9D44;
	margin-left:180px;
	padding:20px 20px 0px 20px;
}

/* for the description about Idea in the page*/
.rectbg.ideapg
{
	background-color:green;
	padding:20px 20px 0px 0px;
	margin-left:60px;
	
}

.circlebg.ideapg
{
	background-color:#CA9D44;
	margin:115px 0 0 -100px;
	border:9px solid green;
	
}

.rectbg p.zerotxt
{
	text-align : justify;
	font-size: 28px;
	font-family : georgia;
	line-height:50px;
	padding-right:90px;
	padding-left:40px;
}

/* for the description about KRUNK page */

.circlebg.krunkpg
{
	border:9px solid red;
	background-color:green;
	margin-top:-440px ;
	margin-left: 40px;
}

.rectbg.krunkpg
{
	background-color:red;
	margin-left:180px;
	padding:20px 20px 0px 20px;
}
