.service_icon_main 
{
    margin-top:-12% 0 0 15%;
}
.service_icon_main img
{
    width:180px;
    height:180px;
}
.main_circle
{
    padding:3% 2% 0% 2%;
    width:90px;
    height:90px;
}
.main_circle img
{
    margin-top:12%;
}
.main_circle .erp_icon_img
{
    margin-top:0;
}
.service_menubar
{
    margin:1.5% 0 4% 0;
    padding:0 11% 1.5% 0.5%;
}
.training_circle
{
    background-color:#EB5E5E;
    border:2px solid #D35454;
}
.training_circle:hover
{
    box-shadow:0px 0px 6px 3px #d45454 inset;
}
.consulting_circle
{
    background-color:#4CACE7;
    border:2px solid #459DD3;
}
.consulting_circle:hover
{
    box-shadow:0px 0px 6px 3px #459DD3 inset;
}
.development_circle
{
    background-color:#E7A600;
    border:2px solid #D39700;
}
.development_circle:hover
{
    box-shadow:0px 0px 6px 3px #d39700 inset;
}
.erp_circle
{
    background-color:#2EF888;
    border:2px solid #27D876;
}
.erp_circle:hover
{
    box-shadow:0px 0px 6px 3px #27d876 inset;
}
.nav_abtus1 #service_container
{
    padding:3% 0 0 10%;
}
#service_container .service_heading
{
    font:lighter 40px Lucida Sans Unicode, Lucida Grande, sans-serif;
    color:#404040;
    margin:-1% 0 5% 0;
    text-align:center;
}
#service_container .service_heading .service_provide
{
    font:700 45px Lucida Sans Unicode, Lucida Grande, sans-serif;
    color:#333;
}
#service_container  .service_head_border
{
    margin:0 36%;
    border-bottom : 3px solid #4A4850;
}
#service_container .service_content
{
    margin:4% 10% 0% 7%;
    font-size:20px;
    font-family:Lucida Sans Unicode, Lucida Grande, sans-serif;
    color:#605d68;
    letter-spacing: .9px;
    line-height:150%;
}
.tabs-left > .nav-tabs .active > #training_border, .tabs-left > .nav-tabs .active > #training_border:hover, .tabs-left > .nav-tabs .active > #training_border:focus
{
    border-color:#D35454 #D35454 #D35454 #D35454;
    background-color:#eb5e5e;
    color:#fff;
}
.tabs-left > .training_tabs
{
    border-right:0px;
}
#training_border
{
    color:#605d68;
    font-size:15px;
}
#training_border .icon-chevron-right
{
    margin-top:4px;
}
.course_accordion .accordion-group
{
    border:0px;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;  
    background-color:#eee;
}
.course_accordion .training_course_display
{
    border-bottom:.8px solid #eb5e5e
}
.course_accordion .training_course_display #course_link
{
    color:#605d68;
}
.training_icon
{
    border-bottom:1px inset #eb5e5e;
    margin-bottom:10px;
    padding-bottom:8px;
    font-size:20px;
    color:#4A4850;
    font-family:Lucida Sans Unicode, Lucida Grande, sans-serif;
}
.service-section .lorem_para
{
    color:#605D68;
    font-family:Lucida Sans Unicode, Lucida Grande, sans-serif;
    font-size:14.5px;
}
.service-section i
{
    margin-top:.8%;
    width:10px;
    height:16px;
}
.tabs-left > .nav-tabs .active > #consulting_border, .tabs-left > .nav-tabs .active > #consulting_border:hover, .tabs-left > .nav-tabs .active > #consulting_border:focus
{
    border-color:#4CACE7 #4CACE7 #4CACE7 #4CACE7;
    background-color:#459DD3;
    color:#fff;
}
.tabs-left > .consulting_tabs
{
    border-right:0px;
}
#consulting_border
{
    color:#605D68;
    font-size:15px;
}
#consulting_border .icon-chevron-right
{
    margin-top:4px;
}
.consult_icon
{
    border-bottom:1px inset #4CACE7;
}
.tabs-left > .nav-tabs .active > #development_border, .tabs-left > .nav-tabs .active > #development_border:hover, .tabs-left > .nav-tabs .active > #development_border:focus
{
    border-color:#D39700 #D39700 #D39700 #D39700;
    background-color:#e7a600;
    color:#fff;
}
.tabs-left > .development_tabs
{
    border-right:0px;
}
#development_border
{
    color:#605d68;
    font-size:15px;
}
#development_border .icon-chevron-right
{
    margin-top:4px;
}
.develop_icon
{
    border-bottom:1px inset #E7A600;
}
.tabs-left > .nav-tabs .active > #erp_border, .tabs-left > .nav-tabs .active > #erp_border:hover, .tabs-left > .nav-tabs .active > #erp_border:focus
{
    border-color:#2EF888 #2EF888 #2EF888 #2EF888;
    background-color:#27D876;
    color:#fff;
}
.tabs-left > .erp_tabs
{
    border-right:0px;
}
#erp_border
{
    color:#605d68;
    font-size:14.4px;
}
#erp_border .icon-chevron-right
{
    margin-top:4px;
}
.erp_icon
{
    border-bottom:1px inset #2EF888;
}
.thumbnails_move
{
    padding-top:3%;
}
.thumbnails_move .thumbnail_move_left
{
    margin-top:8.5%;
}
.thumbnails_move .thumbnail_move_right
{
    margin-top:8.5%;
}
