.menuitem
{
    top:30%;
    position:fixed;
    right:-80px;
    z-index:30;
}

.menuitem .txtcol > img
{
    width:30px;
    height:30px;
}

.title
{
   margin-top:15%;
   margin-left:450px;
}

#home
{
    overflow:hidden;
    width:100%;
}


.title h1
{
    font:55px Georgia;
    text-shadow:5px 5px 6px #bbb;
}

#about
{   
    /*background:url(/static/images/krunk2.png) 50% 0 no-repeat fixed;*/
    width:100%;
    overflow:hidden;
}

#services
{
    /*background:url(/static/images/bubbles1.png) 50% 50% no-repeat fixed,url(/static/images/bubbles2.png) 50% 50% no-repeat fixed;*/
    width:100%;
    overflow:hidden;
}

#projects
{
    background:url(/static/images/bubbles1.png) 50% 50% no-repeat fixed,url(/static/images/bubbles2.png) 50% 50% no-repeat fixed;
    height:1000px;
    width:100%;
    overflow:hidden;
}
#projects .proj_pg
{
    padding-top:3%;
}
#contact
{
    /*background:url(/static/images/bubbles1.png) 50% 50% no-repeat fixed,url(/static/images/bubbles2.png) 50% 50% no-repeat fixed;*/
    width:100%;
    overflow:hidden;
}
#contact .contact_pg
{
    padding-top:3%;
}

