.service_nav
{
    padding-top:3%;
    margin-left:4%;
    margin-right:3.5%;
}

.nav_servicetxt > a
{
    text-decoration:none;
}
.service_nav .navbar-inner
{
    background-color:transparent;
    background-shadow:none;
    background-image:none;
    border:0 none #fff;
    box-shadow:none;
    margin-right:0;
}
.service_menubar .navbar-inner
{
    background-color:grey;
    background-shadow:none;
    background-image:none;
    border:0 none #fff
    box-shadow:none;
    margin-right:0;
    margin-left:-1%;
}

.services_circle
{
    width:115px;
    height:40px;
    text-align:center;
    margin-top:27%;
    background-color:grey;
    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    margin-left:30px;
}

.services_circle h4
{
    margin-top:8%;
    text-shadow:none;
    color:#fff;
}
.main_circle
{
    width:100px;
    height:100px;
    text-align:center;
}

.main_circle h5
{
    margin-top:40%;
    text-shadow:none;
    color:#343435;
}

.training_circle
{
    background-color:#EB5E5E;
    border:2px solid #D35454;
}

.consulting_circle
{
    background-color:#4CACE7;
    border:2px solid #459DD3;
}
.development_circle
{
    background-color:#E7A600;
    border:2px solid #D39700;
}
.erp_circle
{
    background-color:#2EF888;
    border:2px solid #27D876;
}
.service_nav #service_container
{
    padding-left:4%;
}
.tabs-left > .nav-tabs .active > #training_border, .tabs-left > .nav-tabs .active > #training_border:hover, .tabs-left > .nav-tabs .active > #training_border:focus
{
    border-color:#D35454 #D35454 #D35454 #D35454;
    background-color:#eb5e5e;
    color:#fff;
}
.tabs-left > .training_tabs
{
    border-right:0px;
}
