.service_nav
{
    padding-top:3%;
    margin-left:4%;
    margin-right:3.5%;
}

.nav_servicetxt > a
{
    text-decoration:none;
}
.service_nav .navbar-inner
{
    background-color:transparent;
    background-shadow:none;
    background-image:none;
    border:0 none #fff;
    box-shadow:none;
    margin-right:0;
}
.service_menubar .navbar-inner
{
    background-color:grey;
    background-shadow:none;
    background-image:none;
    border:0 none #fff
    box-shadow:none;
    margin-right:0;
    margin-left:-1%;
}

.services_circle img
{
    /*width:115px;
    height:40px;*/
    padding-bottom:5%;
/*    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);*/
}

.services_circle h4
{
    margin-top:8%;
    text-shadow:none;
    color:#fff;
}
.main_circle
{
    width:100px;
    height:100px;
    text-align:center;
}

.main_circle img
{
    margin-top:12%;
}

.main_circle .erp_icon
{
    margin-top:0;
}

/*
 .main_circle h5
{
    margin-top:40%;
    text-shadow:none;
    color:#343435;
}
*/
.training_circle
{
    background-color:#EB5E5E;
    border:2px solid #D35454;
}

.consulting_circle
{
    background-color:#4CACE7;
    border:2px solid #459DD3;
}
.development_circle
{
    background-color:#E7A600;
    border:2px solid #D39700;
}
.erp_circle
{
    background-color:#2EF888;
    border:2px solid #27D876;
}
.service_nav #service_container
{
    padding-left:4%;
}
#service_container .service_heading
{
    font-size:35px;
    color:#4A4850;
    margin-top:1%;
    margin-bottom:6%;
    margin-left:35%;
    font-family:'Droid Serif', serif;
    font-weight:100;
}
#service_container .service_heading .service_provide
{
    font-weight:600;
    font-size:38px;
}
#service_container  .service_head_border
{
    margin-left:40%;
    margin-right:35%;
    border-bottom : 3px solid #4A4850;
}
#service_container .service_content
{
    margin-top:6%;
    margin-left:10%;
    font-size:20px;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color:#605d68;
    letter-spacing: .9px;
    line-height:150%;
}
.tabs-left > .nav-tabs .active > #training_border, .tabs-left > .nav-tabs .active > #training_border:hover, .tabs-left > .nav-tabs .active > #training_border:focus
{
    border-color:#D35454 #D35454 #D35454 #D35454;
    background-color:#eb5e5e;
    color:#fff;
}
.tabs-left > .training_tabs
{
    border-right:0px;
}
#training_border
{
    color:#605d68;
}
.course_accordion .accordion-group
{
    border:0px;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;  
    background-color:#eee;
}
.course_accordion .training_course_display
{
    border-bottom:.8px solid #eb5e5e
}
.course_accordion .training_course_display #course_link
{
    color:#605d68;
}
#CorporateTraining .corporate_icon
{
    border-bottom:1px inset #eb5e5e;
    margin-bottom:10px;
    padding-bottom:8px;
    font-size:20px;
    color:#4A4850;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#CorporateTraining .corporate_icon .icon-list
{
    margin-top:.5%;
}
#CorporateTraining .lorem_training_para
{
    color:#605D68;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#IndustrialTraining .industrial_icon
{
    border-bottom:1px inset #eb5e5e;
    margin-bottom:10px;
    padding-bottom:8px;
    font-size:20px;
    color:#4A4850;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#IndustrialTraining .industrial_icon .icon-italic
{
    margin-top:.8%;
    width:10px;
    height:16px;
}
#IndustrialTraining .lorem_industry_para
{
    color:#605D68;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#AcademyTraining .academy_icon
{
    border-bottom:1px inset #eb5e5e;
    margin-bottom:10px;
    padding-bottom:8px;
    font-size:20px;
    color:#4A4850;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#AcademyTraining .academy_icon .icon-book
{
    margin-top:.8%;
    width:10px;
    height:16px;
}
#AcademyTraining .lorem_academy_para
{
    color:#605D68;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.tabs-left > .nav-tabs .active > #consulting_border, .tabs-left > .nav-tabs .active > #consulting_border:hover, .tabs-left > .nav-tabs .active > #consulting_border:focus
{
    border-color:#4CACE7 #4CACE7 #4CACE7 #4CACE7;
    background-color:#459DD3;
    color:#fff;
}
.tabs-left > .consulting_tabs
{
    border-right:0px;
}
#consulting_border
{
    color:#605D68;
}
#PythonConsultancy .python_icon
{
    border-bottom:1px inset #4CACE7;
    margin-bottom:10px;
    padding-bottom:8px;
    font-size:20px;
    color:#4A4850;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#PythonConsultancy .python_icon .icon-edit
{
    margin-top:.7%;
}
#PythonConsultancy .lorem_python_para
{
    color:#605D68;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#DjangoConsultancy .django_icon
{
    border-bottom:1px inset #4CACE7;
    margin-bottom:10px;
    padding-bottom:8px;
    font-size:20px;
    color:#4A4850;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#DjangoConsultancy .django_icon .icon-wrench
{
    margin-top:.7%;
}
#DjangoConsultancy .lorem_django_para
{
    color:#605D68;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#OpensourceConsultancy .opensource_icon
{
    border-bottom:1px inset #4CACE7;
    margin-bottom:10px;
    padding-bottom:8px;
    font-size:20px;
    color:#4A4850;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#OpensourceConsultancy .opensource_icon .icon-adjust
{
    margin-top:.7%;
}
#OpensourceConsultancy .lorem_opensource_para
{
    color:#605D68;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#MidrangeConsultancy .midrange_icon
{
    border-bottom:1px inset #4CACE7;
    margin-bottom:10px;
    padding-bottom:8px;
    font-size:20px;
    color:#4A4850;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#MidrangeConsultancy .midrange_icon .icon-cog
{
    margin-top:.7%;
}
#MidrangeConsultancy .lorem_midrange_para
{
    color:#605D68;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.tabs-left > .nav-tabs .active > #development_border, .tabs-left > .nav-tabs .active > #development_border:hover, .tabs-left > .nav-tabs .active > #development_border:focus
{
    border-color:#D39700 #D39700 #D39700 #D39700;
    background-color:#e7a600;
    color:#fff;
}
.tabs-left > .development_tabs
{
    border-right:0px;
}
#development_border
{
    color:#605d68;
}
#Webdevelopment .web_icon
{
    border-bottom:1px inset #E7A600;
    margin-bottom:10px;
    padding-bottom:8px;
    font-size:20px;
    color:#4A4850;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#Webdevelopment .web_icon .icon-cog
{
    margin-top:.7%;
}
#Webdevelopment .lorem_web_para
{
    color:#605D68;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#Applicationdevelopment .app_icon
{
    border-bottom:1px inset #E7A600;
    margin-bottom:10px;
    padding-bottom:8px;
    font-size:20px;
    color:#4A4850;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#Applicationdevelopment .app_icon .icon-cog
{
    margin-top:.7%;
}
#Applicationdevelopment .lorem_app_para
{
    color:#605D68;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.tabs-left > .nav-tabs .active > #erp_border, .tabs-left > .nav-tabs .active > #erp_border:hover, .tabs-left > .nav-tabs .active > #erp_border:focus
{
    border-color:#2EF888 #2EF888 #2EF888 #2EF888;
    background-color:#27D876;
    color:#fff;
}
.tabs-left > .erp_tabs
{
    border-right:0px;
}
#erp_border
{
    color:#605d68;
}
#openerp_implementation .erp_implement_icon
{
    border-bottom:1px inset #2EF888;
    margin-bottom:10px;
    padding-bottom:8px;
    font-size:20px;
    color:#4A4850;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#openerp_implementation .erp_implement_icon .icon-cog
{
    margin-top:.7%;
}
#openerp_implementation .lorem_erp_implement_para
{
    color:#605D68;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#openerp_customization .erp_customize_icon
{
    border-bottom:1px inset #2EF888;
    margin-bottom:10px;
    padding-bottom:8px;
    font-size:20px;
    color:#4A4850;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#openerp_customization .erp_customize_icon .icon-cog
{
    margin-top:.7%;
}
#openerp_customization .lorem_erp_customize_para
{
    color:#605D68;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.modules_head
{
    border-bottom:1px inset #2EF888;
    margin-bottom:10px;
    padding-bottom:8px;
    font-size:20px;
    color:#4A4850;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.modules_head .icon-cog
{
    margin-top:.7%;
    width:20px;
}
.thumbnails_move
{
    padding-top:3%;
}
.thumbnails_move .thumbnail_move_left
{
    margin-top:8.5%;
}
.thumbnails_move .thumbnail_move_right
{
    margin-top:8.5%;
}
