.contact_connect
{
    font-size: 45px;
    font-family: DINWeb-CondBlack,sans-serif;
/*    font-weight: bold;*/
    line-height: 1.4;
    text-align:center;
    /*text-shadow: -2px 2px 0px rgba(0, 0, 0, 0.2), -2px -2px 0px transparent, 1px 1px 0px rgba(0, 0, 0, 0.2);*/
    padding-top:8%;
    text-transform: lower;
    padding-bottom:1%;
    color:#ccc
}
.contact_border
{
    border-bottom:1px inset #555758;
    background-image: -moz-linear-gradient(left center , rgba(102, 102, 102, 0.1), rgba(102, 102, 102, 0.75), rgba(102, 102, 102, 0.1));
    margin-left:33%;
    margin-right:34%;
    margin-top:4px;
}
.contact_content
{
    font-size: 22px;
    font-family: "DINWeb-CondLight","DINWeb-Cond";
    font-weight: lighter;
    line-height: 1.4;
    text-shadow: none;
    padding-top:2%;
    padding-bottom:2%;
    margin-left:15%;
    margin-right:15%;
    text-align:center;
    color:#666;
}
.contact_images_span
{
    padding-top:1%;
}
.row-fluid .contact_images_span[class*="span"]:first-child {
    margin-left:70px;
}
.row-fluid .contact_images_span .span2
{
    margin-left:4px;
    width:14%;
}
.contact_icon
{
    height:160px;
}
/* css for phone icon */
.contact_icon #phone_content
{
    opacity:0;
    padding-top:170px;
    text-align:center;
}
#phone_icon
{
    background:url('/static/images/phone_icon_160.png') no-repeat;
    cursor:pointer;
}
#phone_icon:hover 
{
    background:url('/static/images/phone_icon_160_wShadow.png') no-repeat;
    cursor:pointer;
}
#phone_icon:hover > #phone_content 
{
    opacity:1;
    text-align:center;
}
/*css for email icon */
.contact_icon #email_content
{
    opacity:0;
    padding-top:170px;
    text-align:center;
}
#email_icon
{
    background:url('/static/images/email_icon_160.png') no-repeat;
    cursor:pointer;
}
#email_icon:hover
{
    background:url('/static/images/email_icon_160_wShadow.png') no-repeat;
    cursor:pointer;
}
#email_icon:hover > #email_content 
{
    opacity:1;
}
/*css for address icon */
.contact_icon #add_content
{
    opacity:0;
    padding-top:170px;
    text-align:center;
}
#add_icon
{
    background:url('/static/images/home_icon_160.png') no-repeat;
    cursor:pointer;
}
#add_icon:hover
{
    background:url('/static/images/home_icon_160_wShadow.png') no-repeat;
    cursor:pointer;
}
#add_icon:hover > #add_content 
{
    opacity:1;
}
/*css for fb icon */
.contact_icon #fb_content
{
    opacity:0;
    padding-top:170px;
    text-align:center;
}
#fb_icon
{
    background:url('/static/images/fb_icon_160.png') no-repeat;
    cursor:pointer;
}
#fb_icon:hover
{
    background:url('/static/images/fb_icon_160_wShadow.png') no-repeat;
    cursor:pointer;
}
#fb_icon:hover > #fb_content
{
    opacity:1;
}
/*css for linked icon */
.contact_icon #linked_content
{
    opacity:0;
    padding-top:170px;
    text-align:center;
}
#linked_icon
{
    background:url('/static/images/linkedin_icon_160.png') no-repeat;
    cursor:pointer;
}
#linked_icon:hover
{
    background:url('/static/images/linked_icon_160_wShadow.png') no-repeat;
    cursor:pointer;
}
#linked_icon:hover > #linked_content
{
    opacity:1;
}
/*css for twitter icon */
.contact_icon #tw_content
{
    opacity:0;
    padding-top:170px;
    text-align:center;
}
#tw_icon
{
    background:url('/static/images/twitter_icon_160.png') no-repeat;
    cursor:pointer;
}
#tw_icon:hover
{
    background:url('/static/images/tw_icon_160_wShadow.png') no-repeat;
    cursor:pointer;
}
#tw_icon:hover > #tw_content
{
    opacity:1;
}
