.menuitem
{
    top:100px;
    position:fixed;
    right:-80px;
    z-index:30;
}

.menuitem .txtcol
{
    color:grey;
}
.title
{
   margin-top:200px;
   margin-left:450px;
}

#home
{
   background:url(/static/images/home_page.png) 50% 0 no-repeat fixed;
   height:600px;
   width:100%
}


.title h1
{
    font:55px Georgia;
    text-shadow:5px 5px 6px #bbb;
}

#about
{   
    background:url(/static/images/krunk2.png) 50% 0 no-repeat fixed;
    height:700px;
}

.title .abt
{
    margin-left:50px;
}

#blog
{
    background:url(/static/images/bubbles1.png) 50% 50% no-repeat fixed,url(/static/images/bubbles2.png) 50% 50% no-repeat fixed;
    height:700px;
}

.title .blg
{
    margin-left:100px;
}
