.menuitem
{
    top:30%;
    position:fixed;
    right:-80px;
    z-index:30;
}

.menuitem .txtcol > img
{
    width:30px;
    height:30px;
}
.title
{
   margin-top:15%;
   margin-left:450px;
}

#home
{
   height:800px;
   width:100%;
   overflow:hidden;
}
.row-fluid .slide1
{
    background:url(/static/images/firstBG.jpg) no-repeat;
    height:800px;
    overflow:hidden;
}

  .possible
{
    margin:15% 0 0 2%;
}
.slide1  .possible > h1
{
    font:120px Georgia;
    color:yellow;
}
.possible .inline > p{
    font:55px Georgia;
    color:white;
}

.row-fluid .slide2
{

    background:url(/static/images/secondBG.jpg) no-repeat;
    height:800px;
    overflow:hidden;
}

.slide2  h1 {
    color:cyan;
    font:120px Georgia;
    text-decoration:bold;
}

.slide2  p {
    color:black;
    font-size:40px;
    text-decoration:bold;
    text-transform:uppercase;
}

.row-fluid .slide3
{
    background:url(/static/images/thirdBG.jpg) no-repeat;
    height:800px;
    overflow:hidden;
}

.slide3  h1 {
    color:cyan;
    font:120px Georgia;
    text-decoration:bold;
}

.slide3  p {
    color:black;
    font-size:40px;
    text-decoration:bold;
    text-transform:uppercase;
}

.title h1
{
    font:55px Georgia;
    text-shadow:5px 5px 6px #bbb;
}

#about
{   
    background:url(/static/images/krunk2.png) 50% 0 no-repeat fixed;
    height:700px;
}

.title .abt
{
    margin-left:50px;
}

#blog
{
    background:url(/static/images/bubbles1.png) 50% 50% no-repeat fixed,url(/static/images/bubbles2.png) 50% 50% no-repeat fixed;
    height:700px;
    width:100%;
}

#blog .innerbg
{
    background:url(/static/images/chilli.jpg) 10% 0 no-repeat;
    height:400px;
    overflow:hidden;
    z-index:20;
}
.title .blg
{
    margin-left:100px;
}

#services
{
    background:url(/static/images/bubbles1.png) 50% 50% no-repeat fixed,url(/static/images/bubbles2.png) 50% 50% no-repeat fixed;
    height:700px;
    width:100%;
}
#projects
{
    background:url(/static/images/bubbles1.png) 50% 50% no-repeat fixed,url(/static/images/bubbles2.png) 50% 50% no-repeat fixed;
    height:700px;
    width:100%;
    padding-top:5%;
    padding-left:1%;
}
#team
{
    background:url(/static/images/bubbles1.png) 50% 50% no-repeat fixed,url(/static/images/bubbles2.png) 50% 50% no-repeat fixed;
    height:700px;
    width:100%;

}
#contact
{
    background:url(/static/images/bubbles1.png) 50% 50% no-repeat fixed,url(/static/images/bubbles2.png) 50% 50% no-repeat fixed;
    height:700px;
    width:100%;
}
