                    <section class = "container chkbg"> 
                            <div class = "row-fluid">
                                    <div class = "span2 spanbg"> 
                                            <h3> <center>ABOUT US </center> </h3>
                                    </div>
                                    <div class = "span9 menu-bucket"> 
                                            <ul class = "nav nav-pills">
                                                    <li class = "span1"></li>
                                                    <li class = "span2  menu-bar first"> 
								<h1> <center> Zero </center> </h1> 
								<h6> <center> Yet to be Powerful </center> </h6>
							</li>
							<li class = "span1"></li>
							<li class = "span2 menu-bar second">
								<h6> <center> Our </center> </h6> 
								<h1> <center> DNA </center> </h1>
							</li>
							<li class = "span1"></li>
							<li class = "span2 menu-bar third" >
								<h1> <center> Idea! </center> </h1> 
								<h6> <center> We are Idea People </center> </h6>
							</li>
							<li class = "span1"></li>
							<li class = "span2 menu-bar fourth">
								<h6> <center> Let's </center> </h6> 
								<h1> <center> Krunk </center> </h1>
							</li>
						</ul>
					</div>
				</div>
			</section>
			
				<!-- defining the home page of about KS-->
				
			<section class = "container">
				<span class = "rectbg span1 homepg">
					<p>  
						Krunk Systems is a software development firm, focused on innovating new and sophisticated products to ease life of masses. Developers at Krunk Systems are continuously working on complex technologies yet making it simple to understand and use. We aim at providing 100% client and Customer satisfaction by delivering projects on time to client, keeping in mind customers needs as well```  </p>
				</span>
				<img class = "img-circle circlebg homepg"></img>
			</section>
			
			<!-- defining the zero page of about KS-->
			
			<section class = "container">
				
				<span class = "rectbg span1 zeropg">
					<p class = "zerotxt">  
						 There is something about 0. It is nothing, everything and beyond. It is the perfect balance between negative and positive. It is a nullifier of all values and the basis of infinity. It is Indian for sure and hence we at Krunk admire it so much. It is the excitement of beginning from nothing. Starting from scratch as you may call it. Just like 0, we work to unlock hidden potential of nothing.
					</p>
				</span>
				<img class = "img-circle circlebg zeropg" ></img>
				</section>
				
				<!-- defining the DNA page of about KS-->
				
				<section class = "container">
				<span class = "rectbg span1 dnapg">
					<p>  
						 Holy Django! We are romantic and not always so much in a geeky way. We fall in love and every project is an intense affair for us. We flirt with ideas in the day and dream about them at night. We can not help it. Romance is in our DNA.  </p>
				</span>
				<img class = "img-circle circlebg dnapg"></img>
			
			</section>
			
			<!-- defining the IDEA page of about KS-->
			
			<section class = "container">
				<span class = "rectbg span1 ideapg">
					<p class = "zerotxt">  
						 We love Ideas. It is never boring to try something new and we believe that there is always a better way to do things. Our smart developers do not blindly type pages of scripts, but apply new ideas and creativity to every single line, to make your platform simple, robust and intelligent.
					</p>
				</span>
				<img class = "img-circle circlebg ideapg" ></img>
				</section>
				
				<!-- defining about the Let's Krunk Page -->
				
				<section class = "container">
				<span class = "rectbg span1 krunkpg">
					<p>  
						 When we talk about coffee, it is not Java. We are talking about actual coffee. When it kicks in, we just do not write code. We Krunk. What is Krunk? Krunk = Ideas + Coffee. Wonder why we love our cup of coffee so much? Join us in a discussion anytime to find out.....
					</p>
				</span>
				<img class = "img-circle circlebg krunkpg"></img>
			</section>
