/* The Team! */

#jasonCavnar {
position: relative;
    display: none;
	height:auto;
	margin-top: -125px;
	padding:0px;
	margin-left: 350px;
	width:450px;
}

#jer {
position: relative;
    display: none;
	height:auto;
	margin-top: -125px;
	padding:0px;
	margin-left: 350px;
	width:450px;
}

#simon {
 position: relative;
    display: none;
	height:auto;
	margin-top: -125px;
	padding:0px;
	margin-left: 350px;
	width:450px;
}

#temas {
 position: relative;
    display: none;
	height:auto;
	margin-top: -125px;
	padding:0px;
	margin-left: 350px;
	width:450px;
}

#chris {
 position: relative;
    display: none;
	height:auto;
	margin-top: -125px;
	padding:0px;
	margin-left: 350px;
	width:450px;
}

#tikva {
 position: relative;
    display: none;
	height:auto;
	margin-top: -125px;
	padding:0px;
	margin-left: 350px;
	width:450px;
}

#fran {
 position: relative;
    display: none;
	height:auto;
	margin-top: -125px;
	padding:0px;
	margin-left: 350px;
	width:450px;
}

#rand {
 position: relative;
    display: none;
	height:auto;
	margin-top: -125px;
	padding:0px;
	margin-left: 350px;
	width:450px;
}

/* End of The Team */