<div id="aboutus">
</div>
<script type="text/template" id="aboutus_template">
<section class = "navbar nav_abtus">
     <div class = "navbar-inner">
         <div class = "row-fluid">
             <div class = "nav_abttxt span2">
                 <h4> <center>  <a id="about_id" href="#about">About Us </a></center> </h4>
             </div>
             <div class = "span9 menubar">
                 <div class = "navbar">
                     <div class = "navbar-inner menu_span">
                         <ul class = "nav span12">
                             <div class = "span1"> </div>
                             <a href = "#zero" id="zero_id" class="span2 menubox_size menu_zero"> <li>
                                 <center>
                                     <h2> Zero </h2>
                                     <h6> Yet to be Powerful </h6></center>
                                 </li> </a>
                                 <div class = "span1"> </div>
                                 <a href = "#dna" id="dna_id" class="span2 menubox_size menu_dna"> <li>
                                     <center>
                                         <h6> our </h6>
                                         <h2> DNA </h2>
                                     </center>
                                     </li> </a>
                                     <div class = "span1"> </div>
                                     <a href = "#idea" id="idea_id" class="span2 menubox_size menu_idea"> <li>
                                         <center>
                                             <h2> Idea </h2>
                                             <h6> We are Idea people </h6>
                                         </center>
                                         </li>
                                     </a>
                                     <div class = "span1"> </div>
                                     <a href = "#letskrunk" id="letskrunk_id" class="span2 menubox_size menu_krunk"> <li>
                                         <center>
                                            <h6> Let's </h6>
                                            <h2> Krunk </h2>
                                        </center>
                                        </li> </a>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</section>
                <div class = "nav_abtus">
                    <div class = "container-fluid">
                        <section class="span9" id="about_container">
                        </section>
                    </div>
                </div>

</script>
