<!--    <section class = "chkbg"> 
            <div class = "row-fluid menu-container">
                    <div class = "span2 spanbg"> 
                            <h3> <center>ABOUT US </center> </h3>
                    </div>
                    <div class = "span9 menu-bucket"> 
                    <ul class = "nav nav-pills">
                            <a href="#zero">
                                        <li class = "span2  menu-bar first"> 
                                        <h1> <center> Zero </center> </h1> 
                                        <h6> <center> Yet to be Powerful</center> </h6>
                                        </li></a>
                                <li class = "span1"></li>
                                <a href="#dna"><li class = "span2 menu-bar second">
                                        <h6> <center> Our </center> </h6> 
                                        <h1> <center> DNA </center> </h1>
                                </li>
                                </a>
                                <li class = "span1"></li>
                                <a href="#idea">
                                <li class = "span2 menu-bar third" >
                                        <h1> <center> Idea! </center> </h1> 
                                        <h6> <center> We are Idea People </center> </h6>
                                        </li></a>
                                <li class = "span1"></li>
                                <a href="#letskrunk">
                                <li class = "span2 menu-bar fourth">
                                        <h6> <center> Let's </center> </h6> 
                                        <h1> <center> Krunk </center> </h1>
                                        </li>
                                    </a>
                        </ul>
                </div>
                </div>
                </section>
                <section class="span10 well" id="about_container">
                </section>
                -->
                <section class = "navbar nav_abtus">
                <div class = "navbar-inner">
                <div class = "row-fluid">
                    <div class = "span2 nav_abttxt">
                        About Us
                    </div>
                    <div class = "span9 menubar">
                            <div class = "navbar">
                                <div class = "navbar-inner">
                                    <ul class = "nav span12">
                                        <div class = "span1"> </div>
                                        <a href = "#" class="span2 menubox_size"> <li>
                                            <center>
                                            <h2> Zero </h2>
                                            <h6> Yet to be Powerful </h6></center>
                                            </li> </a>
                                        <div class = "span1"> </div>
                                            <a href = "#" class="span2 menubox_size"> <li>
                                                <center>
                                            <h6> our </h6>
                                            <h2> DNA </h2>
                                        </center>
                                         </li> </a>
                                        <div class = "span1"> </div>
                                        <a href = "#" class="span2 menubox_size"> <li>
                                            <center>
                                                <h2> Idea </h2>
                                                <h6> We are Idea people </h6>
                                            </center>
                                            </li>
                                        </a>
                                        <div class = "span1"> </div>
                                        <a href = "#" class="span2 menubox_size"> <li>
                                            <center>
                                            <h6> Let's </h6>
                                            <h2> Krunk </h2>
                                        </center>
                                         </li> </a>
                                    </ul>
                                </div>
                            </div>
                    </div>
                </div>
                </div>
                </section>
