<div class="row span12" >
    <div class="well span6">
        <div class="span6">
            Map
        </div>
        <div class="span6">
            <address>
                <h1>Address</h1>
                <i class="icon-home"></i>
                Krunk Systems<br>
                Nehru Market,Dakpathar</br>
                Deharadunm,Uttrakhand</br>
                <i class="icon-envelope"></i>dmalikcs@gmail.com<br>
            
            
            </address>

        </div>




    </div>
        <div class="span5 pull-right">
            <span class="span5"><h1>Contact US</h1></span>
            <form method="post" action="{%url 'contactus_url'%}">
                {%csrf_token%}
                {{form.as_p}}
            <br><input class="btn btn-success" type="submit" value="submit"/>
            <input class="btn" type="button" value="cancel"/>
        </form>
        </div>

</div>


