<div id="contactus_page">
</div>

<script type="text/template" id="contactus_template">
    <div id="contactus_form">
        <div class="span5 pull-right">
            <div id="success-saved"></div>
            <span class="span5"><h1>Contact US</h1></span>
            <form>
                {% for field in form%}
                {{field.label}}
                {{field}}<br>
                <div id="id_err_{{field.html_name}}" class="invalid"></div>
                {%endfor%}
            </form>
                <button id="submit_request" class="btn btn-success" >Submit</button>
                <button class="btn" >cancel</button>
        </div>

</div>
</script>
