<section class ="row-fluid">
<div class = "span10 well"> <!-- span10 well div tag open -->
    <div class = "span12">
        <div class="span4 footer_heading">
            <h4 class="offset1"> All-in-One </h4>
            </div>
    </div>
    <br>
    <br>
    <div class = "row-fluid"> <!--row-fluid div tag open -->
            <div class = "offset1 container-fluid"> <!-- container-fluid div tag open -->
                <div class = "span7"> <!-- menu bucket div started-->
                    <div class = "row-fluid"> <!-- row-fluid div for home and about us started -->
                        <div class = "span6"> <!-- home div tag -->
                    <ul class = "nav nav-list">
                        <li class = "header"> Home </li>
                        <li> a </li>
                        <li> a </li>
                        <li> a </li>
                    </ul>
                </div> <!-- home div tag closed -->
                <div class = "span6"> <!-- about us div tag started -->
                    <ul class = "nav nav-list">
                        <li class = "header"> About Us </li>
                        <li> Zero </li>
                        <li> a </li>
                        <li> a </li>
                    </ul>
                </div> <!-- about us div tag closed -->
            </div> <!-- row-fluid div for home and about us closed -->
            <br>
            <div class = "row-fluid"> <!-- row-fluid div for services and projects started -->
                <div class = "span6">
                    <ul class = "nav nav-list">
                        <li class = "header"> Services </li>
                        <li> a </li>
                        <li> a </li>
                        <li> a </li>
                    </ul>
                </div>
                <div class = "span6">
                    <ul class = "nav nav-list">
                        <li class = "header"> Projects </li>
                        <li> a </li>
                        <li> a </li>
                        <li> a </li>
                    </ul>
                </div>
            </div> <!-- row-fluid div for services and projects closed -->
            <br>
            <div class = "row-fluid"> <!-- row-fluid div for services1 and projects1 started -->
                <div class = "span6">
                    <ul class = "nav nav-list">
                        <li class = "header"> Services </li>
                        <li> a </li>
                        <li> a </li>
                        <li> a </li>
                    </ul>
                </div>
                <div class = "span6">
                    <ul class = "nav nav-list">
                        <li class = "header"> Projects </li>
                        <li> a </li>
                        <li> a </li>
                        <li> a </li>
                    </ul>
                </div>
            </div> <!-- row-fluid div for services1 and projects1 closed -->
        </div><!-- menu bucket div closed -->
            <div class = "offset1 span3">
                c
            </div> 
    </div> <!-- container-fluid div tag closed -->
</div> <!--row-fluid div tag closed -->
    </div> <!-- span10 well div tag closed -->
 </section>
