    <div class = "row-fluid">
        <div class = "carousel" id="mycarousel">
            <div class = "carousel-inner">
                <div class = "item active">
                    <div class = "slide1">
                        <div class = "span12">
                            <article class = "possible">
                            <h1> Possibilities</h1>
                            <div class = "inline">
                                <p class="span6"> Let's make it possible with  
                                <button class = "btn btn-success btn-large"> US </button>
                                </p>
                            </div>
                            </article>
                        </div>
                    </div> 
                </div>
                <div class = "item">
                    <div class = "slide2">
                        <div class = "span10">
                            <article class = "possible pull-right">
                            <h1> OpenERP </h1>
                                <p> Beautiful business Application  </p>
                                <button class = "btn btn-danger btn-large"> US </button>
                            </article>
                        </div>
                    </div> 
                </div>
                <div class = "item">
                    <div class = "slide3">
                        <div class = "span12">
                            <article class = "possible">
                            <h1> Business Needs</h1>
                                <p> Beautiful Business Application  </p>
                                <button class = "btn btn-primary btn-large"> US </button>
                            </article>
                        </div>
                    </div> 
                </div>
            </div>
<!--                <a class = "carousel-control left" id = "lftbtn" href="#mycarousel" data-slide = "prev" ></a>
<a class = "carousel-control right" id = "rtbtn" href="#mycarousel" data-slide = "next" ></a> -->
        </div>
    </div>



