{%extends 'base.html' %}
{%block content%}
<section>
      <div id = "home" class="inview">
        {%include 'home.html'%}
                
     </div>
 </section>
 <section>
         <div id = "about" class="inview">
            {%include 'about.html'%}
         </div> 
 </section> 
 <section>
        <div id = "services" class="inview container">
            {%include 'services.html'%}
        </div>
</section>
 <section>
        <div id = "projects" class="inview">
            {%include 'projects.html'%}
        </div>
</section>
 <section>
        <div id = "contact" class="inview">
            {%include 'contactus.html' with form=contactus_form %}
        </div>
</section>
{%endblock content%}
