{% load webdesign %}
<section class="proj_pg">
<div class="tabbable tabs-left proj_menu"> <!-- tabs div open -->
    <ul class = "nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#OpenERP">OpenERP</a></li>
        <li ><a data-toggle="tab" href="#Opencomplain">OpenComplain</a></li>
        <li ><a data-toggle="tab" href="#djangodevelopers">Django Developers</a></li>
        <li ><a data-toggle="tab" href="#BookMyplace">Book MY place</a></li>
    </ul>
    <div class="tab-content span8" > <!--  content div open -->
        <div class="tab-pane active" id="OpenERP"> <!-- tab pane Open ERP div open -->
            <h1>OpenERP</h1>
            <div class = "span7"> 
                {% lorem 4 p %}
            </div>
        </div>  <!-- tab pane Open ERP div closed -->
        <div class="tab-pane" id="Opencomplain">  <!-- tab pane Open Complain div open -->
            <h1>OpenComplain</h1>
            <div class = "span7"> 
                {% lorem 2 p %}
            </div>
        </div> <!-- tab pane Open Complain div closed -->
        <div class="tab-pane" id="djangodevelopers">  <!-- tab pane DD div open -->
            <h1>django developers</h1>
            <div class = "span7"> 
                {% lorem 2 p %}
            </div>
        </div> <!-- tab pane DD div closed -->
        <div class="tab-pane" id="BookMyplace">  <!-- tab pane Bookmy place div open -->
            <h1>Book my place</h1>
            <div class = "span7"> 
                {% lorem 2 p %}
            </div>
        </div>  <!-- tab pane Bookmy place div closed -->
    </div> <!--  content div closed -->
</div> <!-- tabs div closed -->
</section>
