    <div class = "container">
        <div class = "nav_abtus">
            <div class = "row-fluid">
                <div class = "span3">
                    <a href="#services">
                         <div class = "service_icon_main">
                            <center> <img src = "/static/images/services_icon_400.png" style> </center>
                        </div>
                    </a>
                </div>
                <div class = "span9 service_menubar">
                    <div class = "row-fluid">
                        <div class = "span3">
                            <a href = "#training">
                                <div class = "img-circle main_circle training_circle">
                                    <center> <img src = "/static/images/training_icon_200.png" style="width:60px; height:60px;"></center> 
                                </div>
                            </a>
                        </div>
                        <div class = "span3">
                            <a href = "#consulting">
                                <div class = "img-circle main_circle consulting_circle">
                                    <center> <img src = "/static/images/consulting_icon_200.png" style="width:60px; height:60px;"></center> 
                                </div>
                            </a>
                        </div>
                        <div class = "span3">
                            <a href = "#development">
                                <div class = "img-circle main_circle development_circle">
                                    <center> <img src = "/static/images/develop_icon_200.png" style="width:60px; height:60px;"></center> 
                                </div>
                            </a>
                        </div>
                        <div class = "span3">
                            <a href = "#erp">
                                <div class = "img-circle main_circle erp_circle">
                                    <center> <img src = "/static/images/erp_icon_200.png" style="width:90px; height:90px;" class="erp_icon_img"></center> 
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class = "nav_abtus1">
            <div class="row-fluid">
                <div class="span12">
                    <div id="MainServiceContainer">     
                         <div id="service_container">
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
