<!--<div class = "navbar">
    <div class = "navbar-inner">
<div class="row-fluid">
    <div class = "navbar serv_nav ">
        <div class = "navbar-inner">
            <ul class = "nav nav-pills span12">
                <li class="span2" ><h5><i class="icon-home"></i> </h5></li>
                <li > <h5> <a href="#service_training" > <img class = "img-circle training_circle"></a></h5> </li>
                <li class="span2" > <h5> <a href="#service_consulting" >Consulting</a></h5> </li>
                <li class="span2" > <h5> <a href="#service_development" >Development</a></h5> </li>
                <li class="span2" > <h5> <a href="#service_erp" >ERP Solutions</a></h5> </li>
            </ul>
        </div>
    </div> 
</div>
</div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div id="service_container">
        </div>
    </div>
</div>
-->

 <div class = "navbar service_nav">
        <div class = "navbar-inner">
            <div class = "row-fluid">
                <div class = "nav_servicetxt span2">
                    <a href="#servicespg">
                   <div class = "img-polaroid services_circle">
                       <center> <h4> Services </h4> </center>
                   </div>
               </a>
                </div>
                <div class = "span9 service_menubar">
                    <div class = "navbar">
                        <div class = "navbar-inner service_span">
                            <ul class = "nav nav-pills span12">
                                 <li>
                                    <a href = "#service_training">
                                        <div class = "img-circle main_circle training_circle">
                                            <center> <h5> Training </h5> </center> 
                                        </div>
                                    </a>
                                </li> 
                                <div class = "span1"> </div>
                                <li>
                                    <a href = "#service_consulting">
                                        <div class = "img-circle main_circle consulting_circle">
                                            <center> <h5> Consulting </h5> </center>
                                        </div>
                                    </a>
                                </li>
                                <div class = "span1"> </div>
                                <li>
                                    <a href = "#service_development">
                                        <div class = "img-circle main_circle development_circle">
                                            <center> <h5> Development</h5> </center>
                                        </div>
                                    </a>
                                </li>
                                <div class = "span1"> </div>
                                <li>
                                    <a href = "#service_erp">
                                        <div class = "img-circle main_circle erp_circle">
                                            <center> <h5> ERP </h5> </center>
                                        </div>
                                    </a>
                                </li>
                           </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 </div>
 <div class="row-fluid">
     <div class = "service_nav">
    <div class="span12">
        <div id="service_container">
        </div>
    </div>
    </div>
</div>
