<div class="row-fluid">
    <div class = "navbar serv_nav ">
        <div class = "navbar-inner">
            <ul class = "nav nav-pills span12">
                <li class="span1" ><h5><i class="icon-home"></i> </h5></li>
                <li class="span1" > <h5> Training  </h5> </li>
                <li class = "span1"> </li>
                <li class="span2" > <h5> Django Consulting</h5> </li>
                <li class="span2" > <h5> Python Consulting </h5> </li>
                <li class="span2" > <h5> <a href="#">OpenERP Consulting</a></h5> </li>
            </ul>
        </div>
    </div> 
</div>
<div class = "hero-unit">
    <a href = "#form_modal" class = "btn btn-primary" data-toggle="modal"> Display Form </a>
</div>

<div class="modal hide fade" id = "form_modal" aria-hidden = "true">
    <div class = "modal-header">
        <h3> Industrial Training </h3>
    </div>
    <div class = "modal-body">
        <form>
            <label> First Name </label>
            <input type = "text" class="span3"><br>
            <label> Last Name </label>
            <input type = "text" class="span3"><br>
        </form>
    </div>
    <div class= "modal-footer">
        <button class = "btn btn-danger" data-dismiss="modal" aria-hidden="true"> Close </button>
    </div>
</div>
