<script type="text/template" id="zero_template">
<section class = "container">
				<span class = "rectbg span1 homepg">
					<p>  
						Krunk Systems is a software development firm, focused on innovating new and sophisticated products to ease life of masses. Developers at Krunk Systems are continuously working on complex technologies yet making it simple to understand and use. We aim at providing 100% client and Customer satisfaction by delivering projects on time to client, keeping in mind customers needs as well```  </p>
				</span>
				<img class = "img-circle circlebg homepg"></img>
			</section>
</script>

<script type="text/template" id="idea_template">
<h1>Idea</h1>
</script>

<script type="text/template" id="dna_template">
<h1>DNA</h1>
</script>

<script type="text/template" id="letskrunk_template">
<h1>Let's Krunk </h1>
</script>
				
