{% load webdesign %}
<script type="text/template" id="about_template">
<div class = "box-circle span11">
    <div class = "row-fluid">
        <div class = "img-rounded span7 about_box">
            <div class = "row-fluid">
                <div class = "offset2 span9">
                    <p class="c-white ks_heading text-right">
                    We are Krunk Systems
                    </p>
                    <br>
                    <p class="c-white ks_subheading">
                                There is something about 0. It is nothing, everything and beyond. It is the perfect balance between negative and positive. It is a nullifier of all values and the basis of infinity. It is Indian for sure and hence we at Krunk admire it so much. It is the excitement of beginning from nothing. Starting from scratch as you may call it. Just like 0, we work to unlock hidden potential of nothing.
                                </p>

            </div>
        </div>
        </div>
        <div class = "img-circle span4 about_circle">
            <div class="offset1 span9 " style="margin-top:30%;">
                <p class="text-center ks_subheading">Do you know why we love <b class="c-white">Zero</b> So much ?</p>
            </div>
        </div>
    </div>
</div>
</script>

<script type="text/template" id="zero_template">
    <div class = "box-circle span11">
        <div class = "row-fluid">
            <div class = "img-rounded span7 zero_box">
                <div class="row-fluid span12">
                    <div class="offset1 span9 ">
                        <div class="row-fluid">
                            <p class="ks_heading c-white">
                            Zero - Yet to be powerful
                            </p>
                        </div>
                        <div class="row-fluid">
                            <div class="span12">
                                <br>
                                <p class="ks_subheading c-white">
                                There is something about 0. It is nothing, everything and beyond. It is the perfect balance between negative and positive. It is a nullifier of all values and the basis of infinity. It is Indian for sure and hence we at Krunk admire it so much. It is the excitement of beginning from nothing. Starting from scratch as you may call it. Just like 0, we work to unlock hidden potential of nothing.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class = "img-circle span4 zero_circle">
            <div class="offset1 span9 " style="margin-top:30%;">
                <p class="text-center ks_subheading">Do you know why we love <b class="c-white">Zero</b> So much ?</p>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="idea_template">
<div class = "box-circle span11">
    <div class = "row-fluid">
        <div class = "img-rounded span7 idea_box">
                <div class="row-fluid span12">
                    <div class="offset1 span9 ">
                        <div class="row-fluid">
                            <p class="ks_heading c-white">
                            Idea - We are idea people
                            </p>
                        </div>
                        <div class="row-fluid">
                            <div class="span12">
                                <br>
                                <p class="ks_subheading c-white">
                We love Ideas. It is never boring to try something new and we believe that there is always a better way to do things. Our smart developers do not blindly type pages of scripts, but apply new ideas and creativity to every single line, to make your platform simple, robust and intelligent.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            <br>
            <br>
        </div>
        <div class = "img-circle span4 idea_circle">
            <div class="offset1 span9 " style="margin-top:30%;">
                <p class="text-center ks_subheading">Do you know why we love <b class="c-white">Zero</b> So much ?</p>
            </div>
        </div>
</div>
</script>

<script type="text/template" id="dna_template">
<div class = "box-circle span11">
    <div class = "row-fluid">
        <div class = "img-rounded span7 dna_box">
            <div class="row-fluid">
                <div class="offset1 span10">
                    <h1 class="ks_heading c-white text-right">Our dna</h1>
                </div>
            </div>
            <div class="row-fluid">
                <div class="offset2 span9">
                    <br>
                    <p class="ks_subheading c-white">
                    Holy Django! We are romantic and not always so much in a geeky way. We fall in love and every project is an intense affair for us. We flirt with ideas in the day and dream about them at night. We can not help it. Romance is in our DNA.
                    </p>
                </div>
            </div>
        </div>
        <div class = "img-circle span4 dna_circle">
            <div class="offset1 span9 " style="margin-top:30%;">
                <p class="text-center ks_subheading">Do you know why we love <b class="c-white">Zero</b> So much ?</p>
            </div>
        </div>
    </div>
</div>
</script>

<script type="text/template" id="letskrunk_template">
<div class = "box-circle span11">
    <div class = "row-fluid">
        <div class = "img-rounded span7 krunk_box">
            <div class="row-fluid">
                <div class="offset1 span10">
                    <h1 class="ks_heading c-white text-right"> Let's have coffee</h1>
                </div>
            </div>
            <br>
            <div class="row-fluid">
                <div class="offset2 span9">
                    <p class="ks_subheading c-white">
                    When we talk about coffee, it is not Java. We are talking about actual coffee. When it kicks in, we just do not write code. We Krunk. What is Krunk? Krunk = Ideas + Coffee. Wonder why we love our cup of coffee so much? Join us in a discussion anytime to find out.....
                    </p>
                </div>
            </div>
        </div>
        <div class = "img-circle span4 krunk_circle">
            <div class="offset1 span9 " style="margin-top:30%;">
                <p class="text-center ks_subheading">Do you know why we love <b class="c-white">Zero</b> So much ?</p>
            </div>
        </div>
    </div>
</div>
</script>

<script type="text/template" id="service_training_template">
<div class="tabbable tabs-left"> <!-- tabs div open -->
    <ul class = "nav nav-tabs training_tabs span2">
        <li ><a data-toggle="tab" href="#coursetraining" class="coursedisplay" id="training_border">What We Offer<i class= "icon-chevron-right icon-white pull-right"></i></a</li>
            <li class="active"><a data-toggle="tab" href="#CorporateTraining" id="training_border">Corporate  <i class= "icon-chevron-right icon-white pull-right"></i></a></li>
            <li ><a data-toggle="tab" href="#IndustrialTraining" id="training_border">Industrial <i class= "icon-chevron-right icon-white pull-right"></i></a></li>
            <li ><a data-toggle="tab" href="#AcademyTraining" id="training_border">Acadamy <i class= "icon-chevron-right icon-white pull-right"></i></a></li>
    </ul>
    <div class="tab-content span8" > <!--  content div open -->
        <div class="tab-pane active" id="CorporateTraining"> <!-- tab pane Open ERP div open -->
            <div>
                <div class = "corporate_icon"><i class = "icon-list"> </i> &nbsp;  Corporate Training </div>
                <div class = "lorem_training_para">
                    {% lorem 2 p %}
                </div>
                <div class = "corporate_btn">
                    <a href="#crform" data-toggle="modal" class="btn btn-danger"> <i class = "icon-bookmark icon-white"> </i>Request</a>
                </div>
        </div>
        </div>  <!-- tab pane Open ERP div closed -->
        <div class="tab-pane" id="IndustrialTraining">  <!-- tab pane Open Complain div open -->
                <div class = "industrial_icon"><i class = "icon-italic"> </i>  Industrial Training </div>
                <div class = "lorem_industry_para">
                    {% lorem 2 p %}
                </div>
            <div class = "industrial_btn"> 
                <a href="#itform" data-toggle="modal" class="btn btn-danger"><i class = "icon-bookmark icon-white"> </i> Request</a>
            </div>
        </div> <!-- tab pane Open Complain div closed -->
        <div class="tab-pane" id="coursetraining">{#training corse started #}
        </div> {# Training course closed #}
        <div class="tab-pane" id="AcademyTraining">  <!-- tab pane DD div open -->
                <div class = "academy_icon"><i class = "icon-book"> </i>  Academy Training </div>
                <div class = "lorem_academy_para">
                    {% lorem 2 p %}
                </div>
            <div class = "academy_btn"> 
                <a href="#atform" data-toggle="modal" class = "btn btn-danger"><i class = "icon-bookmark icon-white"> </i>Request</a>
            </div>
        </div> <!-- tab pane DD div closed -->
    </div> <!--  content div closed -->
</div> <!-- tabs div closed -->


<div class="modal fade hide" id = "crform" aria-hidden = "true">
    <div class = "modal-header cb-red">
        <div class="row-fluid"><!-- start -->
            <div class="span12">
                <h3 class="text-right c-white model_form_heading">Corporate Training Inquery</h3>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="span2">
                    </div>
                    <div class="span10">
                        <p class="text-right model_form_sub_heaing">We love to offer you what you need</p>
                    </div>
                </div>
            </div>
        </div><!--End -->
        <div id="success-saved"></div>
    </div>
    <div class = "modal-body">
        <form class="form-horizontal">
            {% for field in ct_Form%}
            <div class="control-group">
                <div class="control-label">
                    <b>{{field.label}}:</b>
                </div>
                <div class="controls">
                    {{field}}
                    {{field.error}}
                    <div id="id_err_{{field.html_name}}" class="invalid text-error"></div>
                </div>
            </div>
            {%endfor%}
        </form>
    </div>
    <div class= "modal-footer">
            <button class = "btn btn-danger" data-dismiss="modal" aria-hidden="true"> Close </button>
            <button id="crform_submit" class = "btn btn-primary" >submit your requst </button>
    </div>
</div>


<div class="modal fade hide" id = "itform" aria-hidden = "true">
    <div class = "modal-header cb-red">
        <div class="row-fluid">
            <div class="span12">
                <h3 class="text-right c-white model_form_heading">Industrial Training Inquery</h3>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="span2">
                    </div>
                    <div class="span10">
                        <p class="text-right model_form_sub_heaing">We love to offer you what you need</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="success-saved"></div>
    </div>
    <div class = "modal-body">
        <form class="form-horizontal">
            {% for field in it_Form%}
            <div class="control-group">
                <div class="control-label">
                    <b>{{field.label}}:</b>
                </div>
                <div class="controls">
                    {{field}}
                    {{field.error}}
                    <div id="id_err_{{field.html_name}}" class="invalid text-error"></div>
                </div>
            </div>
            {%endfor%}
            </form>
            {%comment%}
        <form>
            {% for field in it_Form%}
            {{field.label}}
            {{field}}<br>
            <div id="id_err_{{field.html_name}}" class="invalid"></div>
            {%endfor%}
        </form>
        {%endcomment%}
    </div>
    <div class= "modal-footer">
        <button class = "btn btn-danger" data-dismiss="modal" aria-hidden="true"> Close </button>
        <button id="itform_submit" class = "btn btn-primary" >submit your requst </button>
    </div>
</div>


<div class="modal fade hide" id = "atform" aria-hidden = "true">
    <div class = "modal-header cb-red">
        <div class="row-fluid"><!-- start -->
            <div class="span12">
                <h3 class="text-right c-white model_form_heading">Academy Training Inquery</h3>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="span2">
                    </div>
                    <div class="span10">
                        <p class="text-right model_form_sub_heaing">We love to offer you what you need</p>
                    </div>
                </div>
            </div>
        </div><!--End -->
        <div id="success-saved"></div>
    </div>
    <div class = "modal-body">
        <form class="form-horizontal">
            {% for field in at_Form%}
            <div class="control-group">
                <div class="control-label">
                    <b>{{field.label}}:</b>
                </div>
                <div class="controls">
                    {{field}}
                    {{field.error}}
                    <div id="id_err_{{field.html_name}}" class="invalid text-error"></div>
                </div>
            </div>
            {%endfor%}
        </form>
            {%comment%}
        <form>
            {% for field in at_Form%}
            {{field.label}}
            {{field}}<br>
            <div id="id_err_{{field.html_name}}" class="invalid"></div>
            {%endfor%}
        </form>
        {%endcomment%}
    </div>
    <div class= "modal-footer">
        <button class = "btn btn-danger" data-dismiss="modal" aria-hidden="true"> Close </button>
        <button id="atform_submit" class = "btn btn-primary" >submit your requst </button>
    </div>
</div>
</script>
{%comment%}
##Service Page design 
## 4 botton 
##
{%endcomment%}

<script type="text/template" id="service_consulting_template">
<div class="tabbable tabs-left"> <!-- tabs div open -->
    <ul class = "nav nav-tabs consulting_tabs span2">
        <li>
        <a data-toggle="tab" href="#PythonConsultancy" class="python" id="consulting_border">Python <i class = "icon-chevron-right icon-white pull-right"> </i></a></li>
        <li class="active"><a data-toggle="tab" href="#DjangoConsultancy" id="consulting_border">Django  <i class = "icon-chevron-right icon-white pull-right"> </i></a></li>
        <li ><a data-toggle="tab" href="#OpensourceConsultancy" id="consulting_border">Opensource  <i class = "icon-chevron-right icon-white pull-right"> </i></a></li>
        <li ><a data-toggle="tab" href="#MidrangeConsultancy" id="consulting_border">Midrange  <i class = "icon-chevron-right icon-white pull-right"> </i> </a></li>
    </ul>
    <div class="tab-content span8" > <!--  content div open -->
        <div class="tab-pane" id="PythonConsultancy"> <!-- tab pane Python Consultancy div open -->
            </div>  <!-- tab pane Open ERP div closed -->

        <div class="tab-pane active" id="DjangoConsultancy">  <!-- tab pane Open Complain div open -->
            <div class = "django_icon"><i class = "icon-wrench"> </i> Django Consultancy </div>
                <div class = "lorem_django_para">
                    {% lorem 2 p %}
                </div>
            <div class = "django_btn"> 
                <a href="#dcform" data-toggle="modal" class = "btn btn-primary"><i class = "icon-bookmark icon-white"> </i>Request</a>

            </div>
        </div> <!-- tab pane Open Complain div closed -->
        <div class="tab-pane" id="OpensourceConsultancy">  <!-- tab pane DD div open -->
            <div class = "opensource_icon"><i class = "icon-adjust"> </i> OpenSource Consultancy </div>
                <div class = "lorem_opensource_para">
                    {% lorem 2 p %}
                </div>
            <div class = "opensource_btn"> 
                <a href="#ocform" data-toggle="modal" class = "btn btn-primary"><i class = "icon-bookmark icon-white"> </i>Request</a>
            </div>
        </div> <!-- tab pane DD div closed -->
        <div class="tab-pane" id="MidrangeConsultancy">  <!-- tab pane DD div open -->
            <div class = "midrange_icon"><i class = "icon-cog"> </i> Midrange Consultancy </div>
                <div class = "lorem_midrange_para">
                    {% lorem 2 p %}
                </div>
            <div class = "midrange_btn"> 
                <a href="#mcform" data-toggle="modal" class = "btn btn-primary"><i class = "icon-bookmark icon-white"> </i>Request</a>
            </div>
        </div> <!-- tab pane DD div closed -->
    </div> <!--  content div closed -->
</div> <!-- tabs div closed -->


<div class="modal fade hide" id = "dcform" aria-hidden = "true">
    <div class = "modal-header cb-blue">
        <div class="row-fluid"><!-- start -->
            <div class="span12">
                <h3 class="text-right c-white model_form_heading">Django Consultancy</h3>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="span2">
                    </div>
                    <div class="span10">
                        <p class="text-right model_form_sub_heaing">We love to offer you what you need</p>
                    </div>
                </div>
            </div>
        </div><!--End -->
        
        <div id="success-saved"></div>
    </div>
    <div class = "modal-body">
        <form class="form-horizontal">
            {% for field in django_Form%}
            <div class="control-group">
                <div class="control-label">
                    <b>{{field.label}}:</b>
                </div>
                <div class="controls">
                    {{field}}
                    {{field.error}}
                    <div id="id_err_{{field.html_name}}" class="invalid text-error"></div>
                </div>
            </div>
            {%endfor%}
        </form>
        {%comment%}
        <form >
            {% for field in django_Form%}
            {{field.label}}
            {{field}}<br>
            <div id="id_err_{{field.html_name}}" class="invalid"></div>
            {%endfor%}
        </form>
        {%endcomment%}
    </div>
    <div class= "modal-footer">
        <button class = "btn btn-danger" data-dismiss="modal" aria-hidden="true"> Close </button>
        <button id="dcform_submit" class = "btn btn-primary" >submit your requst </button>
    </div>
</div>


<div class="modal fade hide" id = "ocform" aria-hidden = "true">
    <div class = "modal-header cb-blue">
        <div class="row-fluid"><!-- start -->
            <div class="span12">
                <h3 class="text-right c-white model_form_heading">OpenSource Consultancy</h3>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="span2">
                    </div>
                    <div class="span10">
                        <p class="text-right model_form_sub_heaing">We love to offer you what you need</p>
                    </div>
                </div>
            </div>
        </div><!--End -->
        <div id="success-saved"></div>
    </div>
    <div class = "modal-body">
        <form class="form-horizontal">
            {% for field in opensource_Form%}
            <div class="control-group">
                <div class="control-label">
                    <b>{{field.label}}:</b>
                </div>
                <div class="controls">
                    {{field}}
                    {{field.error}}
                    <div id="id_err_{{field.html_name}}" class="invalid text-error"></div>
                </div>
            </div>
            {%endfor%}
        </form>
        {%comment%}
        <form>
            {% for field in opensource_Form%}
            {{field.label}}
            {{field}}<br>
            <div id="id_err_{{field.html_name}}" class="invalid"></div>
            {%endfor%}
        </form>
        {%endcomment%}
    </div>
    <div class= "modal-footer">
        <button class = "btn btn-danger" data-dismiss="modal" aria-hidden="true"> Close </button>
        <button id="ocform_submit" class = "btn btn-primary" >submit your requst </button>
    </div>
</div>
<div class="modal fade hide" id = "mcform" aria-hidden = "true">
    <div class = "modal-header cb-blue">
        <div class="row-fluid"><!-- start -->
            <div class="span12">
                <h3 class="text-right c-white model_form_heading">Midrange Consultancy</h3>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="span2">
                    </div>
                    <div class="span10">
                        <p class="text-right model_form_sub_heaing">We love to offer you what you need</p>
                    </div>
                </div>
            </div>
        </div><!--End -->
        <div id="success-saved"></div>
    </div>
    <div class = "modal-body">
        <form class="form-horizontal">
            {% for field in midrange_Form%}
            <div class="control-group">
                <div class="control-label">
                    <b>{{field.label}}:</b>
                </div>
                <div class="controls">
                    {{field}}
                    {{field.error}}
                    <div id="id_err_{{field.html_name}}" class="invalid text-error"></div>
                </div>
            </div>
            {%endfor%}
        </form>
        {%comment%}
        <form>
            {% for field in midrange_Form%}
            {{field.label}}
            {{field}}<br>
            <div id="id_err_{{field.html_name}}" class="invalid"></div>
            {%endfor%}
        </form>
        {%endcomment%}
    </div>
    <div class= "modal-footer">
        <button class = "btn btn-danger" data-dismiss="modal" aria-hidden="true"> Close </button>
        <button id="mcform_submit" class = "btn btn-primary" >submit your requst </button>
    </div>
</div>
</script>

<script type="text/template" id="service_development_template">
<div class="tabbable tabs-left"> <!-- tabs div open -->
    <ul class = "nav nav-tabs development_tabs span2">
        <li class="active">
        <a data-toggle="tab" href="#Webdevelopment" id="development_border">Web  <i class="icon-chevron-right icon-white pull-right"></i></a></li>
        <li ><a data-toggle="tab" href="#Applicationdevelopment" id = "development_border">Application <i class="icon-chevron-right icon-white pull-right"></i></a></li>
    </ul>
    <div class="tab-content span8" > <!--  content div open -->
        <div class="tab-pane active" id="Webdevelopment"> <!-- tab pane Open ERP div open -->
            <div class = "web_icon"><i class = "icon-cog"> </i> Web Development </div>
                <div class = "lorem_web_para">
                    {% lorem 2 p %}
                </div>
            <div class = "web_btn"> 
                <a href="#wdform" data-toggle="modal" class="btn btn-warning"><i class="icon-bookmark icon-white"></i>Request</a>
            </div>
        </div>  <!-- tab pane Open ERP div closed -->
        <div class="tab-pane" id="Applicationdevelopment">  <!-- tab pane Open Complain div open -->
            <div class = "app_icon"><i class = "icon-cog"> </i> Application Development </div>
                <div class = "lorem_app_para">
                    {% lorem 2 p %}
                </div>
            <div class = "app_btn"> 
                <a href="#adform" data-toggle="modal" class="btn btn-warning"><i class="icon-bookmark icon-white"> </i>Request</a>
            </div>
    </div> <!--  content div closed -->
</div> <!-- tabs div closed -->
<div class="modal fade hide" id = "wdform" aria-hidden = "true">
    <div class = "modal-header cb-yellow">
        <div class="row-fluid"><!-- start -->
            <div class="span12">
                <h3 class="text-right c-white model_form_heading">Web Development</h3>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="span2">
                    </div>
                    <div class="span10">
                        <p class="text-right model_form_sub_heaing">We love to offer you what you need</p>
                    </div>
                </div>
            </div>
        </div><!--End -->
        <div id="success-saved"></div>
    </div>
    <div class = "modal-body">
        <form class="form-horizontal">
            {% for field in development_Form%}
            <div class="control-group">
                <div class="control-label">
                    <b>{{field.label}}:</b>
                </div>
                <div class="controls">
                    {{field}}
                    {{field.error}}
                    <div id="id_err_{{field.html_name}}" class="invalid text-error"></div>
                </div>
            </div>
            {%endfor%}
        </form>
        {%comment%}
        <form enctype="multipart/form-data">
            {% for field in development_Form%}
            {{field.label}}
            {{field}}<br>
            <div id="id_err_{{field.html_name}}" class="invalid"></div>
            {%endfor%}
        </form>
        {%endcomment%}
    </div>
    <div class= "modal-footer">
        <button class = "btn btn-danger" data-dismiss="modal" aria-hidden="true"> Close </button>
        <button id="wdform_submit" class = "btn btn-primary" >submit your requst </button>
    </div>
</div>
<div class="modal fade hide" id = "adform" aria-hidden = "true">
    <div class = "modal-header cb-yellow">
        <div class="row-fluid"><!-- start -->
            <div class="span12">
                <h3 class="text-right c-white model_form_heading">Application Development</h3>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="span2">
                    </div>
                    <div class="span10">
                        <p class="text-right model_form_sub_heaing">We love to offer you what you need</p>
                    </div>
                </div>
            </div>
        </div><!--End -->
    </div>

    <div class = "modal-body">
        <form id="">
        </form>
    </div>
    <div class= "modal-footer">
        <button class = "btn btn-danger" data-dismiss="modal" aria-hidden="true"> Close </button>
        <button id="adform_submit" class = "btn btn-primary" >submit your requst </button>
    </div>
</div>
</script>

<script type="text/template" id="service_erp_template">
<div class="tabbable tabs-left"> <!-- tabs div open -->
    <ul class = "nav nav-tabs erp_tabs span2">
        <li class="active"><a data-toggle="tab" href="#openerp_implementation" id="erp_border">Implementation<i class="icon-chevron-right icon-white pull-right"></i></a></li>
        <li ><a data-toggle="tab" href="#openerp_customization" id="erp_border">Customization<i class="icon-chevron-right icon-white pull-right"></i></a></li>
        <li ><a data-toggle="tab" href="#modules" class="erp_modules" id="erp_border">Modules<i class="icon-chevron-right icon-white pull-right"></i></a></li>
    </ul>
    <div class="tab-content span8" > <!--  content div open -->
        <div class="tab-pane" id="modules"> <!-- tab pane Open ERP div open -->
        </div>  <!-- tab pane Open ERP div closed -->
        <div class="tab-pane active" id="openerp_implementation"> <!-- tab pane Open ERP div open -->
            <div class = "erp_implement_icon"><i class = "icon-cog"> </i> OpenERP Implementation </div>
                <div class = "lorem_erp_implement_para">
                    {% lorem 2 p %}
                </div>
            <div class = "erp_implement_btn"> 
            </div>
        </div>  <!-- tab pane Open ERP div closed -->
        <div class="tab-pane" id="openerp_customization">  <!-- tab pane Open Complain div open -->
            <div class = "erp_customize_icon"><i class = "icon-cog"> </i> OpenERP Customization </div>
                <div class = "lorem_erp_customize_para">
                    {% lorem 2 p %}
                </div>
            <div class = "customize_btn"> 
                <a href="#erpinquiryform" data-toggle="modal" class="btn btn-success">Inquiry</a>
                <a href="#demoform" data-toggle="modal" class="btn btn-success">Request for demo</a>
            </div>
    </div> <!--  content div closed -->
</div> <!-- tabs div closed -->


<div class="modal fade hide" id = "demoform" aria-hidden = "true">
    <div class = "modal-header cb-green">
        <div class="row-fluid"><!-- start -->
            <div class="span12">
                <h3 class="text-right c-white model_form_heading">ERP Demo Request</h3>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="span2">
                    </div>
                    <div class="span10">
                        <p class="text-right model_form_sub_heaing">We love to offer you what you need</p>
                    </div>
                </div>
            </div>
        </div><!--End -->
        <div id="success-saved"></div>
    </div>

    <div class = "modal-body">
        <form class="form-horizontal">
            {% for field in erpdemo_Form%}
            <div class="control-group">
                <div class="control-label">
                    <b>{{field.label}}:</b>
                </div>
                <div class="controls">
                    {{field}}
                    {{field.error}}
                    <div id="id_err_{{field.html_name}}" class="invalid text-error"></div>
                </div>
            </div>
            {%endfor%}
        </form>
        {%comment%}
        <form>
            {% for field in erpdemo_Form%}
            {{field.label}}
            {{field}}<br>
            <div id="id_err_{{field.html_name}}" class="invalid"></div>
            {%endfor%}
        </form>
        {%endcomment%}
    </div>
    <div class= "modal-footer">
        <button class = "btn btn-danger" data-dismiss="modal" aria-hidden="true"> Close </button>
        <button id="demoform_submit" class = "btn btn-primary" >submit your requst </button>
    </div>
</div>

<div class="modal fade hide" id = "erpinquiryform" aria-hidden = "true">
    <div class = "modal-header cb-green">
        <div class="row-fluid"><!-- start -->
            <div class="span12">
                <h3 class="text-right c-white model_form_heading">Erp </h3>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="span2">
                    </div>
                    <div class="span10">
                        <p class="text-right model_form_sub_heaing">We love to offer you what you need</p>
                    </div>
                </div>
            </div>
        </div><!--End -->
        <div id="success-saved"></div>
    </div>
    <div class = "modal-body">
        <form class="form-horizontal">
            {% for field in erpinquiry_Form%}
            <div class="control-group">
                <div class="control-label">
                    <b>{{field.label}}:</b>
                </div>
                <div class="controls">
                    {{field}}
                    {{field.error}}
                    <div id="id_err_{{field.html_name}}" class="invalid text-error"></div>
                </div>
            </div>
            {%endfor%}
        </form>
        {%comment%}
            <form>
            {% for field in erpinquiry_Form%}
            {{field.label}}
            {{field}}<br>
            <div id="id_err_{{field.html_name}}" class="invalid"></div>
            {%endfor%}
        </form>
        {%endcomment%}
    </div>
    <div class= "modal-footer">
        <button class = "btn btn-danger" data-dismiss="modal" aria-hidden="true"> Close </button>
        <button id="erpinquiryform_submit" class = "btn btn-primary" >submit your requst </button>
    </div>
</div>

</script>

{%comment%}
<script type="text/template" id="coursedisplay_template">
    Course Value
    <table class="table">
    <% _.each(people, function(name) { %> 
        <tr>
            <td><%= name.id %></td>
            <td><%= name.course_name %></td>
            <td><a class="Deepak" id="<%= name.id %>" href=<%=name.resource_uri %> > name</a></td>
        </tr>
        <% }); %>
    </table>

</script>
{%endcomment%}

<script type="text/template" id="coursedisplay_template">
<div class="accordion course_accordion" id="accordion2">
    <% _.each(people, function(name) { %> 
    <div class="accordion-group training_course_display">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%= name.id %>" id="course_link">
                <div class="row-fluid">
                    <div class="span1">
                        <i class="icon-home"></i>
                    </div>
                    <div class="span4">
                        <b><%= name.course_name %></b>
                    </div>
                    <div class="span7">
                        <%= name.course_short_description %>
                    </div>
                </div>
            </a>
        </div>
        <div id="collapse<%= name.id %>" class="accordion-body collapse">
            <div class="accordion-inner">
                <div class="row-fluid">
                    <p>
                    <h5>What We offer</h5>
                    <%= name.cource_detail %>
                    </p>
                    <p>
                    <h5>Prerequiste </h5>
                    <%= name.prerequisite %>
                    </p>
                    <p>
                    <h5>Hours</h5>
                    <%= name.hours%>
                    </p>
                </div>
                <div>
                    <a href="#courseoutline<%= name.id%>" class="btn btn-success span3" data-toggle="modal" >Course outline</a>
                    <a href="#meetyourmentor<%= name.id%>" class="btn btn-danger span3" data-toggle="modal" >Meet your mantor</a>
                    <a href="#successstories<%= name.id%>" class="btn btn-info span3" data-toggle="modal" >Success stories </a>
                    <a href="#why<%= name.id %>" class="btn btn-primary span3" data-toggle="modal" > Why </a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade hide" id = "meetyourmentor<%= name.id %>" aria-hidden = "true">
        <div class="modal-header">
            <div class="row-fluid">
                <div class="span11">
                    <center><h2>Let's meet your mentor</h2></center>
                    <center><p>{%lorem 20 w %}</p></center>
                </div>
                    <a class="close pull-right" data-dismiss="modal" >&times;</a>
            </div>
        </div>
        <div class="modal-body">
            {%comment%}
            linked_in
            {%endcomment%}
            <%  _.each(name.mentors, function(mentor) { %>
            <div class="row-fluid">
                <div class="row-fuild span12">
                            <div class="span2">
                                <img class="img-circle" height="50px" width="50px" src="<%= mentor.mentor_images%>"/>
                            </div>
                            <div class="span10">
                                <h5><%= mentor.name %> | 9 Years | Lets bright light</h5>
                            </div>
                        </div>
                        <br>
                        <br>
                        <br>
                <div class="row-fluid">
                    <%= mentor.description%>
                </div>

                <div class="row-fluid">
                    <div class="pull-right">
                        <a class="btn btn-success" href="mailto:<%= mentor.email %>" >
                            <i class="icon-comment icon-white"></i> Say Hi
                        </a>
                        <a class="btn btn-danger" target="_blank" href="<%= mentor.linked_in %>"> Linked in
                        </a>
                    </div>
                </div>
            </div>
            <hr>
            <% });%>
        </div>
    </div>

<div class="modal fade hide" id = "courseoutline<%= name.id %>" aria-hidden = "true">
    <div class="modal-header">
            <div class="row-fluid">
                <div class="span11">
                    <center><h2>Path we follow <%= name.course_name %> </h2></center>
                    <center><p>{%lorem 20 w %}</p></center>
                </div>
                    <a class="close pull-right" data-dismiss="modal" >&times;</a>
            </div>
                    
        
    </div>
    <div class="modal-body">

        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#basic" data-toggle="tab">Basic</a></li>
            <li><a href="#inter" data-toggle="tab">Intermediate</a></li>
            <li><a href="#advance" data-toggle="tab">Advance</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="basic">
        <%  _.each(name.course_outline, function(outline) { %>
            <%= outline.chapter %><br> <%= outline.topic %><br>
            <%= outline.hours %><br>
        <% });%>
            </div>
            <div class="tab-pane" id="inter">
            </div>
            <div class="tab-pane" id="advance">
            </div>
        </div>
    </div>

</div>
<div class="modal fade hide" id = "successstories<%= name.id %>" aria-hidden = "true">
    <div class = "modal-header">
            <div class="row-fluid">
                <div class="span11">
                    <center><h2>Your success story</h2></center>
                    <center><p>{%lorem 20 w %}</p></center>
                </div>
                    <a class="close pull-right" data-dismiss="modal" >&times;</a>
            </div>
    </div>
    <div class = "modal-body">
        <%  _.each(name.stories, function(story) { %>
        <div class="row-fluid">
            <p><%= story.success_stories %></p>
        </div>
        <div class="row-fluid">
            <div class="span2">
                <img src="<%= story.customer_logo%>" class="img-circle"></img>
            </div>
            <div class="span10">
                <blockquote class="pull-right">
                    <h5><%= story.customer_name %></h5>
                    <small><%= story.customer_email %></small>
                </blockquote>
            </div>
        </div>
        <hr>
        <% });%>
    </div>
</div>

<div class="modal fade hide" id = "why<%= name.id %>" aria-hidden = "true">
    <div class = "modal-header">
            <div class="row-fluid">
                <div class="span11">
                    <center><h2>Why <%=name.course_name%> </h2></center>
                    <center><p>{%lorem 20 w %}</p></center>
                </div>
                    <a class="close pull-right" data-dismiss="modal" >&times;</a>
            </div>
    </div>
    <div class = "modal-body">
        <% var reason = 1%>
        <%  _.each(name.why, function(y) { %>
        <div class="row-fluid">
            <div class="span12">
                <div class="span1">
                    <h3><%= reason%></h3>
                </div>
                <div class="span11">
                    <p><%= y.why_this %></p>
                </div>
            </div>
        </div>
        <% reason=reason+1 %>
        <hr>
        <% });%>
    </div>
</div>

<% }); %>
</div>
</script>


<script type="text/template" id="alert-template">
    <div class="alert alert-<%= type %>">  
        <a class="close" data-dismiss="alert">&times;</a>  
        <strong><%= bold_message %>!</strong><%= general_message %>.  
    </div> 
</script>

<script type="text/template" id="modules_template">
    <div class="modules_head">
        <i class = "icon-cog"></i>Modules
    </div>
    <input type="hidden" value="<%= url %>" id="modules_url"/>
    <div class = " row-fluid thumbnails_move">
        <% if (meta.previous) {%>
            <div id="previous">
                <i class="icon-chevron-left pull-left thumbnail_move_left"> </i>
            </div>
            <input id="previous" value="<%= meta.previous %>" type="hidden"/>
            <%}else {%>
            <div id="previous">
                <i class="icon-chevron-left pull-left thumbnail_move_left icon-white"> </i>
            </div>
            <%}%>
        <div class = "span11 pull-left thumbnail_define">
            <ul class="thumbnails">
                <% var i=1 %>
                <% _.each(modules, function(module) { %> 
                    <li class="span4">
                    <div class="thumbnail">
                        <img src="<%= module.module_image %>">
                        <h3><%= module.module_name %></h3>
                        <p> <%= module.module_description %> </p>
                        <button class="btn btn-success" id="module_detail_<%=i%>">module_detail_<%=i%></button>
                        <input type="hidden"id="module_detail_<%= i %>" value=<%= module.id%> >
                        <% i=i+1 %>
                    </div>
                    </li>
                    <% }); %>
            </ul>
        </div>
        <% if (meta.next) {%>
            <div id="next">
                <i class="icon-chevron-right pull-right thumbnail_move_right"></i>
            </div> 
            <input id="next" value="<%= meta.next %>" type="hidden"/>
            <%}else {%>
            <div id="next">
                <i class="icon-chevron-right pull-right thumbnail_move_right icon-white"></i>
            </div> 
            <%}%>
    </div> 
</script>


<script type="text/template" id="service_template">
    <div class="span10"> 
        <div class = "service_heading">
            <span class = "service_provide">Services,</span> We Provide 
        </div>
        <div class = "service_head_border">
        </div>
        <div class = " service_content">
            <center>
                {%lorem 1 p %}
            </center>
        </div>
    </script>

    <script type="text/template" id="python_template">
        <div class = "python_icon"><i class = "icon-edit"> </i> Python Consultancy </div>
        <div class = "lorem_python_para">
            {% lorem 2 p %}
        </div>
        <div class = "python_btn">
            <a href="#pcform" data-toggle="modal" class = "btn btn-primary"> <i class = "icon-bookmark icon-white"> </i>Request</a>
            <button class="btn" id="show" >show</button>
            <button class="btn" id="show" >show</button>
            <button class="btn" id="show" >show</button>
        </div>
<div class="modal fade hide" id = "pcform" aria-hidden = "true">
    <div class = "modal-header">
        <h3> Python Consultancy </h3>
        <div id="success-saved"></div>
    </div>
    <div class = "modal-body">
        <form >
            {% for field in python_Form%}
            {{field.label}}
            {{field}}<br>
            <div id="id_err_{{field.html_name}}" class="invalid"></div>
            {%endfor%}
        </form>
    </div>
    <div class= "modal-footer">
        <button class = "btn btn-danger" data-dismiss="modal" aria-hidden="true"> Close </button>
        <button id="pcform_submit" class = "btn btn-primary" >submit your requst </button>
    </div>
</div>
</script>


<script type="text/template" id="show_template">
    <a class="close" id="close" >&times;</a>
    <h1>Thanks for choces</h1>
    <p>welcoms to Deepak Malik</p>
</script>

<script type="text/template" id="module_detail_template">
        <button class="btn pull-right btn-danger" id="back"><i class="icon-level-up icon-white"></i></button>
        <input type="hidden" id="back" value="<%= url %>"/>
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
            <li><a href="#feature" data-toggle="tab">Feature</a></li>
            <li><a href="#messages" data-toggle="tab">Trainings</a></li>
            <li><a href="#settings" data-toggle="tab">Kind Words</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="overview">
              <%= module.module_name %>
            </div>
            <div class="tab-pane" id="feature">
              <%=  module.module_Features%>
            </div>
            <div class="tab-pane" id="messages">
                <%= module.trainings.Functional_training%><br>
                <%= module.trainings.technical_training%>
            </div>
            <div class="tab-pane" id="settings">
                <% _.each(module.customer_kind_words, function(customer) { %> 
                    <%= customer.company_name %>
                    <br>
                <%});%>
            </div>
        </div>
</script>

