<script type="text/template" id="about_template">
<div class = "box-circle span11">
    <div class = "row-fluid">
        <div class = "img-rounded span7 about_box">
        </div>
        <div class = "img-circle span4 about_circle">
            <center> Abc </center>
        </div>
    </div>
</div>
</script>

<script type="text/template" id="zero_template">
<div class = "box-circle span11">
    <div class = "row-fluid">
        <div class = "img-rounded span7 zero_box">
            <br>
            <br>
            <div class = "span9 offset1 zero_text">  
                There is something about 0. It is nothing, everything and beyond. It is the perfect balance between negative and positive. It is a nullifier of all values and the basis of infinity. It is Indian for sure and hence we at Krunk admire it so much. It is the excitement of beginning from nothing. Starting from scratch as you may call it. Just like 0, we work to unlock hidden potential of nothing.
            </div>
            <div class = "span3 offset1 zero_footer">
                    <br>
                    <br>
                    <blockquote> 
                        <p> Zero </p>
                        <small> Yet to be Powerful </small>
                    </blockquote>
                    </div>
                </div>
        <div class = "img-circle span4 zero_circle">
            <center> 
            </center>
        </div>
    </div>
</div>
</script>

<script type="text/template" id="idea_template">
<div class = "box-circle span11">
    <div class = "row-fluid">
        <div class = "img-rounded span7 idea_box">
            <br>
            <br>
            <div class = "span9 offset1 idea_text">
                We love Ideas. It is never boring to try something new and we believe that there is always a better way to do things. Our smart developers do not blindly type pages of scripts, but apply new ideas and creativity to every single line, to make your platform simple, robust and intelligent.
            </div>
            <div class = "span3 offset1 idea_footer">
                    <br>
                    <br>
                    <blockquote> 
                        <p> Idea </p>
                        <small> We are idea People </small>
                    </blockquote>
                    </div>
        </div>
        <div class = "img-circle span4 idea_circle">
        </div>
    </div>
</div>
</script>

<script type="text/template" id="dna_template">
<div class = "box-circle span11">
    <div class = "row-fluid">
        <div class = "img-rounded span7 dna_box">
            <br>
            <br>
            <div class = "span9 offset1 dna_text">
                Holy Django! We are romantic and not always so much in a geeky way. We fall in love and every project is an intense affair for us. We flirt with ideas in the day and dream about them at night. We can not help it. Romance is in our DNA.
            </div>
            <div class = "span4  dna_footer pull-right">
                    <br>
                    <br>
                    <blockquote> 
                        <p> DNA </p>
                        <small> Innovation is in our DNA</small>
                    </blockquote>
                    </div>
        </div>
        <div class = "img-circle span4 dna_circle">
            <center> Abc </center>
        </div>
    </div>
</div>
</script>

<script type="text/template" id="letskrunk_template">
<div class = "box-circle span11">
    <div class = "row-fluid">
        <div class = "img-rounded span7 krunk_box">
            <br>
            <br>
            <div class = "span9 offset1 dna_text">
                  When we talk about coffee, it is not Java. We are talking about actual coffee. When it kicks in, we just do not write code. We Krunk. What is Krunk? Krunk = Ideas + Coffee. Wonder why we love our cup of coffee so much? Join us in a discussion anytime to find out.....
            </div>
            <div class = "span4  dna_footer pull-right">
                    <br>
                    <br>
                    <blockquote> 
                        <p> Krunk </p>
                        <small>Let's Krunk </small>
                    </blockquote>
                    </div>
        </div>
        <div class = "img-circle span4 krunk_circle">
        </div>
    </div>
</div>
</script>

<script type="text/template" id="service_training_template">
<div class="tabbable tabs-left"> <!-- tabs div open -->
    <ul class = "nav nav-tabs">
        <li ><a data-toggle="tab" href="#coursetraining" class="test">what we offer</a></li>
        <li class="active"><a data-toggle="tab" href="#CorporateTraining">Corporate</a></li>
        <li ><a data-toggle="tab" href="#IndustrialTraining">Industrial</a></li>
        <li ><a data-toggle="tab" href="#AcademyTraining">Acadamy</a></li>
    </ul>
    <div class="tab-content span8" > <!--  content div open -->
        <div class="tab-pane active" id="CorporateTraining""> <!-- tab pane Open ERP div open -->
            <h1>CorporateTraining </h1>
            <div class = "span7"> 
                <a href="#crform" data-toggle="modal">Request</a>
            </div>
        </div>  <!-- tab pane Open ERP div closed -->
        <div class="tab-pane" id="IndustrialTraining">  <!-- tab pane Open Complain div open -->
            <h1>IndustrialTraining </h1>
            <div class = "span7"> 
                <a href="#itform" data-toggle="modal">Request</a>
            </div>
        </div> <!-- tab pane Open Complain div closed -->
        <div class="tab-pane" id="coursetraining">{#training corse started #}
        </div> {# Training course closed #}
        <div class="tab-pane" id="AcademyTraining">  <!-- tab pane DD div open -->
            <h1>AcademyTraining </h1>
            <div class = "span7"> 
                <a href="#atform" data-toggle="modal">Request</a>
            </div>
        </div> <!-- tab pane DD div closed -->
    </div> <!--  content div closed -->
</div> <!-- tabs div closed -->


<div class="modal fade hide" id = "crform" aria-hidden = "true">
    <div class = "modal-header">
        <h3> Corp form </h3>
        <div id="saved"></div>
    </div>
    <div class = "modal-body">
        <form>
            {% for field in ct_Form%}
            {{field.label}}
            {{field}}<br>
            {{field.error}}
            <div id="id_err_{{field.html_name}}" class="invalid"></div>
            {%endfor%}
        </form>
    </div>
    <div class= "modal-footer">
        <button class = "btn btn-danger" data-dismiss="modal" aria-hidden="true"> Close </button>
        <button href="#submit_reuqest" class = "btn btn-primary" >submit your requst </button>
    </div>
</div>


<div class="modal fade hide" id = "itform" aria-hidden = "true">
    <div class = "modal-header">
        <h3> Industrial Training </h3>
    </div>
    <div class = "modal-body">
        <form>
            {% for field in it_Form%}
            {{field.label}}
            {{field}}<br>
            {{field.error}}
                <div id="id_err_{{field.html_name}}" class="invalid"></div>
            {%endfor%}
        </form>
    </div>
    <div class= "modal-footer">
        <button class = "btn btn-danger" data-dismiss="modal" aria-hidden="true"> Close </button>
        <button href="#submit_reuqest" class = "btn btn-primary" >submit your requst </button>
    </div>
</div>


<div class="modal fade hide" id = "atform" aria-hidden = "true">
    <div class = "modal-header">
        <h3> Acadamy  Training </h3>
    </div>
    <div class = "modal-body">
        <form id="">
            {% for field in at_Form%}
            {{field.label}}
            {{field}}<br>
            {{field.error}}
                <div id="id_err_{{field.html_name}}" class="invalid"></div>
            {%endfor%}
        </form>
    </div>
    <div class= "modal-footer">
        <button class = "btn btn-danger" data-dismiss="modal" aria-hidden="true"> Close </button>
        <button href="#submit_reuqest" class = "btn btn-primary" >submit your requst </button>
    </div>
</div>
</script>
{%comment%}
##Service Page design 
## 4 botton 
##
{%endcomment%}

<script type="text/template" id="service_consulting_template">
<div class="tabbable tabs-left"> <!-- tabs div open -->
    <ul class = "nav nav-tabs">
        <li class="active">
        <a data-toggle="tab" href="#PythonConsultancy">Python Consultancy</a></li>
        <li ><a data-toggle="tab" href="#DjangoConsultancy">Django Consultancy</a></li>
        <li ><a data-toggle="tab" href="#OpensourceConsultancy">Opensource Consultancy</a></li>
        <li ><a data-toggle="tab" href="#MidrangeConsultancy">Midrange Consultancy</a></li>
    </ul>
    <div class="tab-content span8" > <!--  content div open -->
        <div class="tab-pane active" id="PythonConsultancy"> <!-- tab pane Open ERP div open -->
            <h1>Python Consultancy </h1>
            <div class = "span7">  
                <a href="#pcform" data-toggle="modal">Request</a>
            </div>
        </div>  <!-- tab pane Open ERP div closed -->
        <div class="tab-pane" id="DjangoConsultancy">  <!-- tab pane Open Complain div open -->
            <h1>Django Consultancy</h1>
            <div class = "span7"> 
                <a href="#dcform" data-toggle="modal">Request</a>
            </div>
        </div> <!-- tab pane Open Complain div closed -->
        <div class="tab-pane" id="OpensourceConsultancy">  <!-- tab pane DD div open -->
            <h1>Opensource Consultancy </h1>
            <div class = "span7"> 
                <a href="#ocform" data-toggle="modal">Request</a>
            </div>
        </div> <!-- tab pane DD div closed -->
        <div class="tab-pane" id="MidrangeConsultancy">  <!-- tab pane DD div open -->
            <h1>Midrange Consultancy </h1>
            <div class = "span7"> 
                <a href="#mcform" data-toggle="modal">Request</a>
            </div>
        </div> <!-- tab pane DD div closed -->
    </div> <!--  content div closed -->
</div> <!-- tabs div closed -->


<div class="modal fade hide" id = "pcform" aria-hidden = "true">
    <div class = "modal-header">
        <h3> Python Consultancy </h3>
    </div>
    <div class = "modal-body">
        <form >
            {{python_Form}}
        </form>
    </div>
    <div class= "modal-footer">
        <button class = "btn btn-danger" data-dismiss="modal" aria-hidden="true"> Close </button>
        <button href="#submit_reuqest" class = "btn btn-primary" >submit your requst </button>
    </div>
</div>
<div class="modal fade hide" id = "dcform" aria-hidden = "true">
    <div class = "modal-header">
        <h3> Django consultancy </h3>
    </div>
    <div class = "modal-body">
        <form >
            {{django_Form}}
        </form>
    </div>
    <div class= "modal-footer">
        <button class = "btn btn-danger" data-dismiss="modal" aria-hidden="true"> Close </button>
        <button href="#submit_reuqest" class = "btn btn-primary" >submit your requst </button>
    </div>
</div>


<div class="modal fade hide" id = "ocform" aria-hidden = "true">
    <div class = "modal-header">
        <h3> Open Source consultancy</h3>
    </div>
    <div class = "modal-body">
        <form>
            {{opensource_Form}}
        </form>
    </div>
    <div class= "modal-footer">
        <button class = "btn btn-danger" data-dismiss="modal" aria-hidden="true"> Close </button>
        <button href="#submit_reuqest" class = "btn btn-primary" >submit your requst </button>
    </div>
</div>
<div class="modal fade hide" id = "mcform" aria-hidden = "true">
    <div class = "modal-header">
        <h3> Midrange Training </h3>
    </div>
    <div class = "modal-body">
        <form>
            {{midrange_Form}}
        </form>
    </div>
    <div class= "modal-footer">
        <button class = "btn btn-danger" data-dismiss="modal" aria-hidden="true"> Close </button>
        <button href="#submit_reuqest" class = "btn btn-primary" >submit your requst </button>
    </div>
</div>
</script>

<script type="text/template" id="service_development_template">
<div class="tabbable tabs-left"> <!-- tabs div open -->
    <ul class = "nav nav-tabs">
        <li class="active">
        <a data-toggle="tab" href="#Webdevelopment">web Development</a></li>
        <li ><a data-toggle="tab" href="#Applicationdevelopment">Application Development</a></li>
    </ul>
    <div class="tab-content span8" > <!--  content div open -->
        <div class="tab-pane active" id="Webdevelopment"> <!-- tab pane Open ERP div open -->
            <h1>Web Development </h1>
            <div class = "span7"> 
                <a href="#wdform" data-toggle="modal">Request</a>
            </div>
        </div>  <!-- tab pane Open ERP div closed -->
        <div class="tab-pane" id="Applicationdevelopment">  <!-- tab pane Open Complain div open -->
            <h1>Application Development</h1>
            <div class = "span7"> 
                <a href="#adform" data-toggle="modal">Request</a>
            </div>
    </div> <!--  content div closed -->
</div> <!-- tabs div closed -->
<div class="modal fade hide" id = "wdform" aria-hidden = "true">
    <div class = "modal-header">
        <h3> Web Development </h3>
    </div>
    <div class = "modal-body">
        <form>
            {{development_Form}}
        </form>
    </div>
    <div class= "modal-footer">
        <button class = "btn btn-danger" data-dismiss="modal" aria-hidden="true"> Close </button>
        <button href="#submit_reuqest" class = "btn btn-primary" >submit your requst </button>
    </div>
</div>
<div class="modal fade hide" id = "adform" aria-hidden = "true">
    <div class = "modal-header">
        <h3> Application Development </h3>
    <div class = "modal-body">
        <form id="">
        </form>
    </div>
    <div class= "modal-footer">
        <button class = "btn btn-danger" data-dismiss="modal" aria-hidden="true"> Close </button>
        <button href="#submit_reuqest" class = "btn btn-primary" >submit your requst </button>
    </div>
</div>
</script>

<script type="text/template" id="service_erp_template">
<div class="tabbable tabs-left"> <!-- tabs div open -->
    <ul class = "nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#openerp_implementation">Implementation</a></li>
        <li ><a data-toggle="tab" href="#openerp_customization">customization</a></li>
        <li ><a data-toggle="tab" href="#modules">modules</a></li>
    </ul>
    <div class="tab-content span8" > <!--  content div open -->
        <div class="tab-pane" id="modules"> <!-- tab pane Open ERP div open -->
            <h1>Modules</h1>
            <div class = "span7"> 
            </div>
        </div>  <!-- tab pane Open ERP div closed -->
        <div class="tab-pane active" id="openerp_implementation"> <!-- tab pane Open ERP div open -->
            <h1>openerp implementation </h1>
            <div class = "span7"> 
            </div>
        </div>  <!-- tab pane Open ERP div closed -->
        <div class="tab-pane" id="openerp_customization">  <!-- tab pane Open Complain div open -->
            <h1>openerp customization</h1>
            <div class = "span7"> 
                <a href="#erpinquiryform" data-toggle="modal">Inquiry</a>|
                <a href="#demoform" data-toggle="modal">Request for demo</a>
            </div>
    </div> <!--  content div closed -->
</div> <!-- tabs div closed -->


<div class="modal fade hide" id = "demoform" aria-hidden = "true">
    <div class = "modal-header">
        <h3>Demo Request </h3>
    </div>

    <div class = "modal-body">
        <form>
            {{erpdemo_Form}}
        </form>
    </div>
    <div class= "modal-footer">
        <button class = "btn btn-danger" data-dismiss="modal" aria-hidden="true"> Close </button>
        <button href="#submit_reuqest" class = "btn btn-primary" >submit your requst </button>
    </div>
</div>

<div class="modal fade hide" id = "erpinquiryform" aria-hidden = "true">
    <div class = "modal-header">
        <h3> ERP Inquriy</h3>
    </div>
    <div class = "modal-body">
        {{erpinquiry_Form}}
    </div>
    <div class= "modal-footer">
        <button class = "btn btn-danger" data-dismiss="modal" aria-hidden="true"> Close </button>
        <button href="#submit_reuqest" class = "btn btn-primary" >submit your requst </button>
    </div>
</div>

</script>

{%comment%}
<script type="text/template" id="coursedisplay_template">
    Course Value
    <table class="table">
    <% _.each(people, function(name) { %> 
        <tr>
            <td><%= name.id %></td>
            <td><%= name.course_name %></td>
            <td><a class="Deepak" id="<%= name.id %>" href=<%=name.resource_uri %> > name</a></td>
        </tr>
        <% }); %>
    </table>

</script>
{%endcomment%}

<script type="text/template" id="coursedisplay_template">
<div class="accordion" id="accordion2">
    <% _.each(people, function(name) { %> 
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class=" accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%= name.id %>">
                <%= name.course_name %>
            </a>
        </div>
        <div id="collapse<%= name.id %>" class="accordion-body collapse">
            <div class="accordion-inner">
                <%= name.cource_detail %>
            </div>
        </div>
    </div>
    <% }); %>
</div>
</script>


<script type="text/template" id="alert-success">
    <div class="alert alert-success">  
       <a class="close" data-dismiss="alert">&times;</a>  
        <strong>Success!</strong>You have successfully done it.  
    </div> 
</script>

