<div class="float-left">
    <h1>About</h1> <br/>
    <div class="graybox_team"><center>Think Beyond the Thinker . . .</center>
</div>
<div class="positions">
        <a href="#" onClick="aboutus1(); return false;"><img src="/static/images/idea-pic.png" height="200" width="200" ></a>
        <a href="#" onClick="aboutus2(); return false;"><img src="/static/images/DNAdesign1.png" height="200" width="200"></a><br>
        <a href="#" onClick="aboutus3(); return false;"><img src="/static/images/cofee.png" height="200" width="200" ></a>
        <a href="#" onClick="aboutus4(); return false;"><img src="/static/images/zero-design3.png" height="200" width="200" ></a>
</div>	

	<div id="aboutus1">
		<p id="aboutus_font_head"> Idea - We are idea People</p>
		<p id="aboutus_font">
			&nbsp&nbsp&nbspWe love Ideas. It is never boring to try something new and we
		believe that there is always a better way to do things. Our smart 
		developers do not blindly type pages of scripts, but apply new ideas
		and creativity to every single line, to make your platform simple,
		robust and intelligent.
		</p>
	</div>		
	<div id="aboutus2">	
		<p id="aboutus_font_head">Our DNA</p><br>
		<p id="aboutus_font">
		&nbsp&nbsp&nbsp Holy Django! We are romantic and not always so much in a geeky
		way. We fall in love and every project is an intense affair for us. We
		flirt with ideas in the day and dream about them at night. We can not
		help it. Romance is in our DNA.
		</p>
	</div>		
	<div id="aboutus3">	
		<p  id="aboutus_font_head">Let's Krunk</p><br>
		<p id="aboutus_font">
		&nbsp&nbsp&nbspWhen we talk about coffee, it is not <b>Java</b>. We are talking about
		actual coffee. When it kicks in, we just do not write code. We Krunk.
		What is Krunk? Krunk = Ideas + Coffee. Wonder why we love our
		cup of coffee so much? Join us in a discussion anytime to find
		out.....
		</p>
	</div>		
	<div id="aboutus4">			
		<p  id="aboutus_font_head">Zero - Yet to be powerful</p><br>
		<p id="aboutus_font">&nbsp&nbsp&nbspThere is something about 0. It is nothing, everything and beyond.
			It is the perfect balance between negative and positive. It is a
			nullifier of all values and the basis of infinity. It is Indian for sure and
			hence we at Krunk admire it so much. It is the excitement of
			beginning from nothing. Starting from scratch as you may call it.
			Just like 0, we work to unlock hidden potential of nothing.</p>
	</div>
	<div id="aboutus_all">
		<p  id="aboutus_font_head">Krunk Systems</p>
		<p id="aboutus_font">
			&nbsp&nbsp&nbsp We are creative software development company 
		</p>
	</div>
</div>	
