<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
   <head>
        <title>
            {%block title%}
            {%endblock title%}
        </title>
            <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
            <meta name="description" content="Krunk Systems" />
            <meta name="keywords" content="Krunksystems, krunk, krunksystem, krunk systems, software development, learn, education, innovation" />
            <meta name="google-site-verification" content="i7UeLyAlWlqI7o5eDwdtp_b0YvmavhXPU5kKyAMAxEM" />
<!--            <link href="/static/css/style.css" rel="stylesheet" type="text/css" />-->
            <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" />
            <script type="text/javascript" src="/static/js/jquery.min.js"></script>
            <script type="text/javascript" src="/static/js/nbw-parallax.js"></script>
            <script type="text/javascript" src="/static/js/jquery.localscroll-1.2.7-min.js"></script>
            <script type="text/javascript" src="/static/js/jquery.scrollTo-1.4.2-min.js"></script>
            <script type="text/javascript" src="/static/js/jquery.easing.1.3.js"></script>
            <script type="text/javascript" src="/static/js/jquery.inview.js"></script>
            <script type="text/javascript" src="/static/js/jobs.js"></script>
            <script type="text/javascript">
            $(document).ready(function(){   
                $('#nav').localScroll();
                $('#aboutus_all').show();
            })
            </script>

            <script type="text/javascript">
            $(window).scroll(function () {
                        /*  if ($win.scrollTop() == 0)
                             ///scrolled to page top*/
            if ($(window).height() + $(window).scrollTop() == $(document).height()) {
            $(window).scrollTop(0);
            }
            });
            </script>
            <script type="text/javascript">

              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-20479876-1']);
              _gaq.push(['_trackPageview']);

              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();

            </script>
            {%block head%}
            {%endblock head%}
    </head>
    <body>
        {%block content%}
        {%endblock content%}
    </body>

</html>


