<div class="float-left" style="background-color:yellow;">
		<h1 class="bigbig">Contact</h1> <br/>
		<div class="positions">
			<a href="#" onClick="emailUs(); return false;">Email Us</a><br/>
			<a href="#" onClick="tweetUs(); return false;">Tweet Us</a><br/>
			<a href="#" onClick="sendusMail(); return false;">Send us Mail</a><br/>
			<a href="#" onClick="callUs(); return false;">Call Us</a><br/>
		</div>
         
		<div id="emailus">
			<p>We are active on email, email us to get instant reply.</p>
			<p>Email us at <a href="mailto:hi@krunksystems.com">hi@krunksystems.com</a></p>
		</div>
		<div id="tweetus">
			<p>Yeah We Tweet.</p>
			<p>Follow us and Tweet <a href="http://twitter.com/krunksystems">twitter.com/krunksystems</a></p>
		</div>
		<div id="sendusmail">
			<p>We are lazy on mails, but few things are to be meant to be mailed. </p>
			<p>[To be published shortly]</a></p>
		</div>
    
		<div id="callus">
			<p>Don't be dissapointed, in case we don't pick the call. We might be busy.</p>
			<p>Call Us at: +91-9717-179-975</a></p> 
		</div>
	</div>
	<div class="graybox">For any query, feel free to drop us an email at <a href="mailto:hi@krunksystems.com">hi@krunksystems.com</a></div>
