<div class="float-left">
	 <h1 class="bigbig">Internships</h1> <br/>
	 <h3>What is Internship at KrunkSystems ?</h3>
	 <p>Internships at Krunk Systems involves serious development work with awesome products development. Coding is a passion and guidance is given from experienced consultants in respective fields.</p>
	 <br/>
	 <h3>FOR APPLYING: &nbsp;<a href="mailto:intern@krunksystems.com" style="color:#66ccff; text-decoration:none;">intern@krunksystems.com</a></h3>
</div>
<div class="graybox_team">KrunkSystems Team consist of Developers annd consultants working in leading MNCs in India.</a></div>
