<div class="float-left">
		<h1 class="bigbig">Jobs</h1> <br/>
		<div class="positions">
			<a href="#" onClick="showPhp(); return false;">Web Developer (PHP)</a><br/>
			<a href="#" onClick="showdesigner(); return false;">Web Designer</a><br/>
			<a href="#" onClick="showUX(); return false;">Website content Writer </a><br/>
			<a href="#" onClick="showHR1(); return false;">HR Executive</a><br/>
			<a href="#" onClick="showIntern(); return false;">Awesome Intern</a><br/>
		</div>
         
		<div id="php">
			<p>You are a Web developer specializing in PHP. You get things done. We're looking for creative, passionate + effective developers to work with us remotely. </p>
			<p>Excellent knowledge of PHP, MySql, Database Designing, Css, JavaScript, Ajax & jQuery</p>
			<p>Email us at <a href="mailto:jobs@krunksystems.com">jobs@krunksystems.com</a></p>
		</div>
		<div id="designer">
			<p>You like to do your mockups in markup. CSS and Javascript are the tools your reach for, even before you hit Photoshop or Illustrator. You believe nothing conveys a design concept like a functional flow, and you love iterating quickly over designs and seeing things go live. You're a developer and a designer.</p>
			<p>We're looking for someone creative & innovative. We're looking for someone who understands how to design with empathy and how to encapsulate complexity into intuitive experiences. Work with us and make a difference.</p>
			<p>Email us at <a href="mailto:jobs@krunksystems.com">jobs@krunksystems.com</a></p>
		</div>
		<div id="uxdesigner">
			<p>You have a good english and think you have descent writing skills with no grammatical mistakes.</p>
			<p>Candidates with previous write ups will be preffered. Work Remotely.</p>
			<p>Email us at <a href="mailto:jobs@krunksystems.com">jobs@krunksystems.com</a></p>
		</div>
    
		<div id="hr1">
			<p>HR Required to mamage the team and the remote employees</p>
			<p>Full Time employement.</p>
			<p>Email us at <a href="mailto:jobs@krunksystems.com">jobs@krunksystems.com</a></p> 
		</div>
    
		<div id="intern">
			<p>NCR. Web Development, Web Design, R&D on web technologies and you'd like to get your hands dirty in the code. We're looking for creative, passionate and quick-witted people interested in working on both open source and commercial development projects.</p>
			<p>We're working with lot of opensource softwares, though a broad range of skills and experiences will be applicable. If you're looking to contribute to a product with potential to make a big impact, learn some amazing things and get some awesome code released to the open source world (great for your commit logs/resume!), we'd love to talk with you. Self-directed and creative individuals are strongly encouraged to get in touch! Bonus if you can do can do front end web development too! You will have the opportunity to own your own project from top to bottom.</p>
			<p>Email us at <a href="mailto:jobs@krunksystems.com">jobs@krunksystems.com</a></p>
		</div>
	
	</div>
	<div class="graybox">We're looking to add more talented and passionate members to the team, so let us know if you'd like to make something awesome!</div>
