<div class="float-left">
		<h1 class="bigbig">Projects</h1> <br/>
			<a href="http://www.openboxeducation.com" target="_blank"><img src="/static/images/openbox.png"></a><br/>
			<a href="#"><img src="/static/images/cloudmail.png"></a><br/>
			<a href="http://www.zipmypc.com" target="_blank"><img src="/static/images/zipmypc.png"></a><br/>
			<a href="#"><img src="/static/images/etaxi.png"></a><br/>
			<p>Watch this space for upcoming Krunk Labs projects!</p>

	</div>
	<div class="graybox_team">Krunk Systems fosters and maintains the following projects. From concept to execution is implemented by the krunksystems single handed.</a></div>
